.index-body {
  width: 100%;
  background-color: #0252d9;
  overflow: hidden; }
  .index-body:hover .main .text-wrap .sm-title {
    transform: translate3d(0, 76px, 0); }
  .index-body:hover .main .text-wrap .big-title {
    transform: translate3d(0, -60px, 0); }
  .index-body:hover .main .img-wrap .img-box-1 {
    transform: translate3d(65px, 0, 0); }
  .index-body:hover .main .img-wrap .img-box-2 {
    transform: translate3d(0, -40px, 0); }
  .index-body:hover .main .img-wrap .img-box-3 {
    transform: translate3d(20px, 30px, 0); }
  .index-body .main {
    height: 516px;
    position: relative;
    margin: 0 auto; }
    .index-body .main div {
      font-size: 0;
      display: inline-block;
      transition: .5s; }
    .index-body .main .text-wrap {
      float: left; }
      .index-body .main .text-wrap div {
        position: absolute; }
      .index-body .main .text-wrap .sm-title {
        left: 196px;
        top: 176px; }
        .index-body .main .text-wrap .sm-title img {
          width: 392px;
          height: 40px; }
      .index-body .main .text-wrap .big-title {
        left: 78px;
        top: 214px; }
        .index-body .main .text-wrap .big-title img {
          width: 660px;
          height: 114px; }
    .index-body .main .img-wrap {
      float: right; }
      .index-body .main .img-wrap div {
        position: absolute; }
      .index-body .main .img-wrap .img-box-1 {
        right: 420px;
        top: 0; }
        .index-body .main .img-wrap .img-box-1 img {
          width: 220px;
          height: 164px; }
      .index-body .main .img-wrap .img-box-2 {
        top: 330px;
        right: 350px; }
        .index-body .main .img-wrap .img-box-2 img {
          width: 220px;
          height: 156px; }
      .index-body .main .img-wrap .img-box-3 {
        right: 50px;
        top: 70px; }
        .index-body .main .img-wrap .img-box-3 img {
          width: 300px;
          height: 269px; }

.index-main {
  width: 100%;
  overflow: hidden; }
  .index-main .brief-introduction {
    margin: 0 auto;
    overflow: hidden; }
    .index-main .brief-introduction .text-develop {
      font-size: 20px;
      font-weight: 400;
      margin-top: 100px;
      text-align: center; }
      .index-main .brief-introduction .text-develop a {
        color: #0252d9; }
    .index-main .brief-introduction .title {
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      color: #0252D9;
      text-align: center;
      margin-top: 82px;
      margin-bottom: 32px;
      overflow: hidden;
      height: 46px;
      overflow: hidden;
      line-height: 46px; }
    .index-main .brief-introduction dl {
      overflow: hidden; }
      .index-main .brief-introduction dl dd {
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        text-align: center;
        margin-bottom: 14px;
        line-height: 28px;
        margin-bottom: 10px; }
        .index-main .brief-introduction dl dd:last-child {
          margin: 0; }
    .index-main .brief-introduction .slider-wrap {
      overflow: hidden;
      margin: 95px auto 86px;
      padding: 0 8px; }
      .index-main .brief-introduction .slider-wrap .row .culture {
        position: relative;
        text-align: center; }
        .index-main .brief-introduction .slider-wrap .row .culture img {
          width: 100%; }
        .index-main .brief-introduction .slider-wrap .row .culture .text-wrap {
          position: absolute;
          left: 52px;
          top: 28px;
          color: #fff;
          text-align: left; }
          .index-main .brief-introduction .slider-wrap .row .culture .text-wrap .big-title {
            font-size: 36px; }
          .index-main .brief-introduction .slider-wrap .row .culture .text-wrap .desc {
            margin-top: 10px;
            font-size: 20px; }
    .index-main .brief-introduction .more-wrap .more-title {
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      color: #0252D9;
      text-align: center;
      margin-top: 82px;
      overflow: hidden;
      height: 46px;
      overflow: hidden;
      line-height: 46px; }
    .index-main .brief-introduction .more-wrap .more-text {
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
      margin-bottom: 40px; }
    .index-main .brief-introduction .more-wrap .phone-and-msg {
      cursor: pointer;
      width: 952px;
      height: 590px; }
      .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-button-prev {
        background: none; }
        .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-button-prev .iconfont {
          color: #0252d9;
          font-size: 40px; }
      .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-button-next {
        background: none; }
        .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-button-next .iconfont {
          color: #0252d9;
          font-size: 40px; }
      .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .img-wrap {
        float: left;
        width: 50%;
        text-align: right;
        padding: 20px 0;
        padding-right: 48px;
        position: relative; }
        .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .img-wrap .bg-mask {
          position: absolute;
          width: 396px;
          height: 330px;
          right: 0;
          opacity: .1;
          /* IE 4-9 */
          filter: alpha(opacity=10);
          background-color: #0252d9;
          top: 50%;
          margin-top: -165px; }
        .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .img-wrap img {
          height: 540px;
          position: relative;
          z-index: 9; }
      .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .text-wrap {
        float: right;
        width: 50%;
        padding-left: 76px; }
        .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .text-wrap .title {
          font-size: 20px;
          font-weight: 400;
          color: #0252D9;
          text-align: left;
          margin: 160px 0 10px; }
        .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .text-wrap .desc {
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          width: 80%; }
    .index-main .brief-introduction .more-wrap .more-link-wrap {
      text-align: center;
      margin-top: 28px;
      margin-bottom: 72px;
      overflow: hidden;
      cursor: pointer;
      color: #0252d9; }
      .index-main .brief-introduction .more-wrap .more-link-wrap .more-link {
        display: inline-block;
        vertical-align: middle;
        line-height: 26px;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #0252d9; }
      .index-main .brief-introduction .more-wrap .more-link-wrap .iconfont {
        font-size: 26px;
        vertical-align: middle; }
    .index-main .brief-introduction .describe {
      overflow: hidden;
      width: 100%; }
      .index-main .brief-introduction .describe .title-wrap {
        margin-top: 36px;
        font-weight: 400;
        font-style: normal;
        color: #0252D9;
        text-align: center;
        overflow: hidden;
        margin-bottom: 12px;
        height: 100px; }
        .index-main .brief-introduction .describe .title-wrap .small {
          font-size: 40px; }
        .index-main .brief-introduction .describe .title-wrap .big {
          font-size: 72px; }
      .index-main .brief-introduction .describe .desc {
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #333;
        text-align: center; }
      .index-main .brief-introduction .describe .desc-avatar {
        overflow: hidden;
        margin: 42px 152px 0; }
        .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail {
          padding: 10px 16px; }
          .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
          .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .action-wrap {
            position: relative;
            height: 200px;
            overflow: hidden;
            cursor: pointer; }
            .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .action-wrap:hover .more-act {
              display: block;
              display: none\0;
              display: none\9\0;
              *display: none\0;
              _display: none\0; }
            .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .action-wrap:hover img {
              transform: scale(1.1); }
            .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .action-wrap img {
              width: 100%;
              height: 100%;
              transition: all 1s; }
            .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .action-wrap .more-act {
              display: none;
              width: 100%;
              height: 100%;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.6);
              text-align: center;
              left: 0;
              top: 0;
              line-height: 200px;
              color: #fff;
              font-size: 28px;
              font-weight: 200; }
          .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .desc-wrap {
            text-align: center;
            padding: 12px 40px 0;
            height: 200px;
            overflow: hidden; }
            .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .desc-wrap .text {
              font-size: 16px; }
            .index-main .brief-introduction .describe .desc-avatar .container-fluid .row .detail .detail-wrap .desc-wrap .desc-text {
              margin-top: 40px;
              font-size: 14px; }
        .index-main .brief-introduction .describe .desc-avatar ul {
          font-size: 0;
          text-align: center;
          overflow: hidden; }
          .index-main .brief-introduction .describe .desc-avatar ul li {
            display: inline-block;
            width: 300px;
            margin: 10px 16px;
            overflow: hidden; }
            .index-main .brief-introduction .describe .desc-avatar ul li:hover {
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
            .index-main .brief-introduction .describe .desc-avatar ul li .action-wrap {
              position: relative;
              height: 200px;
              overflow: hidden;
              cursor: pointer; }
              .index-main .brief-introduction .describe .desc-avatar ul li .action-wrap:hover .more-act {
                display: block;
                display: none\0;
                display: none\9\0;
                *display: none\0;
                _display: none\0; }
              .index-main .brief-introduction .describe .desc-avatar ul li .action-wrap:hover img {
                transform: scale(1.1); }
              .index-main .brief-introduction .describe .desc-avatar ul li .action-wrap img {
                width: 100%;
                height: 100%;
                transition: all 1s; }
              .index-main .brief-introduction .describe .desc-avatar ul li .action-wrap .more-act {
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.6);
                text-align: center;
                left: 0;
                top: 0;
                line-height: 200px;
                color: #fff;
                font-size: 28px;
                font-weight: 200; }
            .index-main .brief-introduction .describe .desc-avatar ul li .desc-wrap {
              text-align: center;
              padding: 12px 40px 0;
              height: 200px;
              overflow: hidden; }
              .index-main .brief-introduction .describe .desc-avatar ul li .desc-wrap .text {
                font-size: 16px; }
              .index-main .brief-introduction .describe .desc-avatar ul li .desc-wrap .desc-text {
                margin-top: 40px;
                font-size: 14px; }
    .index-main .brief-introduction .join-us {
      margin-top: 100px;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #0252D9;
      text-align: center;
      margin-bottom: 64px;
      overflow: hidden;
      display: block; }

.partner-wrap {
  background-color: #333333;
  width: 100%;
  overflow: hidden; }
  .partner-wrap .partner-main {
    margin: 0 auto;
    overflow: hidden; }
    .partner-wrap .partner-main .title {
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      color: #FFFFFF;
      text-align: center;
      margin-top: 52px;
      margin-bottom: 10px;
      overflow: hidden; }
    .partner-wrap .partner-main .desc {
      font-weight: 200;
      font-style: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center; }
    .partner-wrap .partner-main .container-fluid {
      margin-top: 45px;
      overflow: hidden;
      padding-bottom: 50px; }
      .partner-wrap .partner-main .container-fluid .row .col-lg-3 {
        padding: 5px; }
        .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap {
          border: 1px solid #FFF;
          height: 170px;
          text-align: center;
          background-color: #fff; }
          .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap:hover img {
            transform: scale(1.2); }
          .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap img {
            transition: all .5s;
            height: 40px;
            position: relative;
            top: 50%;
            margin-top: -20px; }

.footer-bar {
  background: #333; }

@media (max-width: 1200px) {
  .index-main .brief-introduction .more-wrap .phone-and-msg {
    width: 476px; }
    .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .img-wrap {
      text-align: center;
      width: 100%;
      padding-right: 0; }
      .index-main .brief-introduction .more-wrap .phone-and-msg .swiper-wrapper .swiper-slide .img-wrap .bg-mask {
        left: 46px; }

  .index-body .main .text-wrap .sm-title {
    left: 50%;
    margin-left: -186px; }
  .index-body .main .text-wrap .big-title {
    left: 50%;
    margin-left: -330px; } }
@media (max-width: 768px) {
  .partner-wrap {
    background-color: #fff; }
    .partner-wrap .partner-main {
      margin-bottom: 8px;
      padding: 0; }
      .partner-wrap .partner-main .desc {
        color: #0252d9;
        font-family: 'Regular';
        font-size: 22px;
        margin-top: 52px;
        margin-bottom: 20px; }
      .partner-wrap .partner-main .container-fluid {
        padding-bottom: 0; }
        .partner-wrap .partner-main .container-fluid .row .col-lg-3 {
          padding: 0; }
          .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap {
            border: none;
            height: 150px; }
            .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap img {
              border: none;
              width: 70%;
              height: auto; }

  .phone-screen {
    padding-top: 48px;
    position: relative;
    overflow: hidden;
    min-height: 100vh; }
    .phone-screen .footer-text {
      text-align: center;
      font-size: 18px; }
      .phone-screen .footer-text a {
        color: #0252d9; }
    .phone-screen .next-page {
      width: 40px;
      height: 40px;
      margin: 0 auto; }
      .phone-screen .next-page i.iconfont {
        color: #0252d9;
        font-size: 40px; }
    .phone-screen .text-wrap {
      margin-top: 52px;
      overflow: hidden;
      text-align: center; }
      .phone-screen .text-wrap .title {
        font-size: 22px;
        color: #0252d9; }
      .phone-screen .text-wrap .desc {
        font-size: 14px;
        margin-top: 15px;
        color: #000; }

  .phone-screen-1 {
    background-color: #0252d9;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 36vh;
    height: 100vh; }
    .phone-screen-1 .next-page {
      position: absolute;
      left: 50%;
      margin-left: -20px;
      bottom: 14px; }
      .phone-screen-1 .next-page i.iconfont {
        color: #fff; }
    .phone-screen-1 .title {
      overflow: hidden;
      font-size: 50px; }
    .phone-screen-1 .desc {
      font-size: 25px;
      margin-top: 20px; }

  .phone-screen-2 .headlines {
    margin: 22px 14px 42px;
    -webkit-box-shadow: 0 0 4px #eee;
    -moz-box-shadow: 0 0 4px #eee;
    box-shadow: 0 0 4px #eee;
    overflow: hidden;
    padding-bottom: 76px; }
    .phone-screen-2 .headlines .title {
      font-size: 22px;
      color: #0252d9;
      margin-top: 24px;
      margin-bottom: 36px;
      text-align: center;
      overflow: hidden; }
    .phone-screen-2 .headlines .desc {
      text-align: center;
      color: #000;
      font-size: 13px;
      line-height: 20px;
      padding: 0 10px; }
  .phone-screen-2 .slider-headlines {
    padding-bottom: 38px;
    margin: 0 28px 80px; }
    .phone-screen-2 .slider-headlines .swiper-wrapper .swiper-slide {
      position: relative; }
      .phone-screen-2 .slider-headlines .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%; }
      .phone-screen-2 .slider-headlines .swiper-wrapper .swiper-slide .text-wrap {
        position: absolute;
        left: 52px;
        top: 28px;
        color: #fff;
        text-align: left; }
        .phone-screen-2 .slider-headlines .swiper-wrapper .swiper-slide .text-wrap .big-title {
          font-size: 36px; }
        .phone-screen-2 .slider-headlines .swiper-wrapper .swiper-slide .text-wrap .desc {
          margin-top: 10px;
          font-size: 20px;
          color: #fff;
          font-weight: 100; }

  .phone-screen-3 .phone-slider {
    overflow: hidden;
    margin-top: 15px;
    overflow: hidden;
    margin: 0 48px;
    padding-bottom: 28px; }
    .phone-screen-3 .phone-slider .swiper-wrapper .swiper-slide .img-wrap img {
      width: 100%; }
  .phone-screen-3 .footer-text {
    margin-top: 10px;
    margin-bottom: 12px; }

  .phone-screen-4 .slider-detail {
    border-radius: 4px;
    margin: 62px 24px 0;
    box-shadow: 0 0 5px #979797; }
    .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide {
      text-align: center;
      font-size: 18px;
      color: #000; }
      .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .title {
        margin: 26px 0; }
      .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .desc {
        margin-top: 48px;
        margin-bottom: 46px;
        padding: 0 18px; }
      .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .img-wrap {
        padding: 0 13px; }
        .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .img-wrap img {
          width: 100%;
          box-shadow: 0 2px 4px #000; }
  .phone-screen-4 .custom-pagination {
    margin: 14px auto 0;
    position: relative; }
    .phone-screen-4 .custom-pagination .swiper-pagination-bullet {
      margin: 4px; }
  .phone-screen-4 .footer-text {
    margin-top: 20px;
    margin-bottom: 40px; }

  .phone-screen-5 .category {
    margin: 0 20px;
    margin-top: 46px; }
    .phone-screen-5 .category ul li {
      height: 100px;
      line-height: 100px;
      font-size: 18px;
      color: #0252d9;
      border-radius: 4px;
      margin-bottom: 22px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 0 4px #979797; }
      .phone-screen-5 .category ul li:last-child {
        margin-bottom: 0; }

  .phone-screen-6 {
    padding-top: 0; }
    .phone-screen-6 .contact {
      overflow: hidden;
      height: 60vh;
      padding-top: 32px; }
      .phone-screen-6 .contact .call-me {
        overflow: hidden;
        padding-left: 40px; }
        .phone-screen-6 .contact .call-me .call-me-wrap {
          margin-top: 35px;
          overflow: hidden; }
          .phone-screen-6 .contact .call-me .call-me-wrap .row {
            line-height: 32px; }
            .phone-screen-6 .contact .call-me .call-me-wrap .row .icon i.iconfont {
              position: absolute;
              width: 34px;
              display: block;
              float: left;
              font-size: 25px;
              margin-right: 4px;
              vertical-align: middle;
              position: relative; }
            .phone-screen-6 .contact .call-me .call-me-wrap .row .text {
              padding-left: 0;
              font-size: 13px; }
    .phone-screen-6 .call-map {
      height: 40vh; } }
@media (max-height: 736px) {
  .phone-screen .text-wrap {
    margin-top: 12px; }
    .phone-screen .text-wrap .title {
      font-size: 18px; }
    .phone-screen .text-wrap .desc {
      margin-top: 4px; }
  .phone-screen .footer-text {
    margin-top: 10px; }

  .phone-screen-2 .slider-headlines {
    margin-bottom: 0px; }
  .phone-screen-2 .headlines {
    margin: 22px 14px 22px;
    padding-bottom: 20px; }
    .phone-screen-2 .headlines .title {
      margin-top: 10px;
      margin-bottom: 20px; }

  .phone-screen-3 .phone-slider {
    margin: 0 90px;
    padding-bottom: 4px; }
  .phone-screen-3 .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0; }
  .phone-screen-3 .footer-text {
    margin: 10px 0 6px; }

  .phone-screen-4 .custom-pagination {
    margin: 8px auto 6px; }
  .phone-screen-4 .slider-detail {
    margin: 20px 24px 0; }
    .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .title {
      margin: 14px 0; }
    .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .desc {
      margin-top: 24px;
      margin-bottom: 20px; }
  .phone-screen-4 .footer-text {
    margin-top: 0;
    margin-bottom: 6px; }

  .partner-wrap .partner-main .desc {
    margin-top: 36px; }
  .partner-wrap .partner-main .container-fluid {
    margin-top: 20px; }
    .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap {
      height: 110px; }

  .phone-screen-6 .text-wrap {
    margin-top: 42px; }
  .phone-screen-6 .contact .call-me .call-me-wrap {
    margin-top: 20px; } }
@media (max-height: 620px) {
  .phone-screen .text-wrap {
    margin-top: 12px; }
    .phone-screen .text-wrap .title {
      font-size: 18px; }
    .phone-screen .text-wrap .desc {
      margin-top: 4px; }
  .phone-screen .footer-text {
    margin-top: 10px; }

  .phone-screen-2 .slider-headlines {
    padding-bottom: 20px;
    margin: 0 40px 10px; }
    .phone-screen-2 .slider-headlines .swiper-pagination.swiper-pagination-bullets {
      bottom: 0; }
  .phone-screen-2 .headlines {
    padding-bottom: 16px;
    margin: 22px 14px 20px; }
    .phone-screen-2 .headlines .title {
      margin-top: 8px;
      margin-bottom: 10px; }

  .phone-screen-3 .phone-slider {
    margin: 0 88px; }

  .phone-screen-4 .text-wrap .desc {
    margin-top: 10px; }
  .phone-screen-4 .custom-pagination {
    margin: 6px auto 2px; }
  .phone-screen-4 .slider-detail {
    margin: 10px 40px 0; }
    .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .title {
      margin: 10px 0; }
    .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide .desc {
      margin-top: 28px;
      margin-bottom: 20px; }
  .phone-screen-4 .footer-text {
    margin: 4px 0 0; }

  .partner-wrap .partner-main .desc {
    margin: 22px 0 10px; }
  .partner-wrap .partner-main .container-fluid {
    margin-top: 10px; }
    .partner-wrap .partner-main .container-fluid .row .col-lg-3 .img-wrap {
      height: 96px; }

  .phone-screen-6 .text-wrap {
    overflow: hidden;
    margin-top: 36px; }
  .phone-screen-6 .contact .call-me .call-me-wrap {
    margin-top: 20px; } }
@media (max-width: 360px) {
  .phone-screen-1 .title {
    font-size: 40px; }
  .phone-screen-1 .desc {
    font-size: 18px; }

  .phone-screen-2 .headlines .title {
    font-size: 18px; }
  .phone-screen-2 .headlines .desc {
    font-size: 12px; }

  .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide {
    font-size: 14px; }

  .phone-screen-6 .contact .call-me .call-me-wrap {
    margin-top: 10px; }
  .phone-screen-6 .text-wrap {
    margin-top: 30px; } }
