$blue:#0252d9;
$gray:#fafafa;
.index-body {
    width: 100%;
    background-color: $blue; // margin-top: 80px;
    overflow: hidden;
    &:hover {
        .main {
            .text-wrap {
                .sm-title {
                    transform: translate3d(0, 76px, 0);
                }
                .big-title {
                    transform: translate3d(0, -60px, 0);
                }
            }
            .img-wrap {
                .img-box-1 {
                    transform: translate3d(65px, 0, 0);
                }
                .img-box-2 {
                    transform: translate3d(0, -40px, 0);
                }
                .img-box-3 {
                    transform: translate3d(20px, 30px, 0);
                }
            }
        }
    }
    .main {
        height: 516px;
        position: relative;
        margin: 0 auto;
        div {
            font-size: 0;
            display: inline-block;
            transition: .5s;
        }
        .text-wrap {
            float: left;
            div {
                position: absolute;
            }
            .sm-title {
                left: 196px;
                top: 176px;
                img {
                    width: 392px;
                    height: 40px;
                }
            }
            .big-title {
                left: 78px;
                top: 214px;
                img {
                    width: 660px;
                    height: 114px;
                }
            }
        }
        .img-wrap {
            float: right;
            div {
                position: absolute;
            }
            .img-box-1 {
                right: 420px;
                top: 0;
                img {
                    width: 220px;
                    height: 164px;
                }
            }
            .img-box-2 {
                top: 330px; // left: 795px;
                right: 350px; // right: 110px; 
                img {
                    width: 220px;
                    height: 156px;
                }
            }
            .img-box-3 {
                right: 50px;
                top: 70px;
                img {
                    width: 300px;
                    height: 269px;
                }
            }
        }
    }
}

.index-main {
    width: 100%;
    overflow: hidden;
    .brief-introduction {
        margin: 0 auto;
        overflow: hidden;
        .text-develop {
            font-size: 20px;
            font-weight: 400;
            margin-top: 100px;
            text-align: center;
            a {
                color: $blue;
            }
        }
        .title {
            font-weight: 400;
            font-style: normal;
            font-size: 40px;
            color: #0252D9;
            text-align: center;
            margin-top: 82px;
            margin-bottom: 32px;
            overflow: hidden;
            height: 46px;
            overflow: hidden;
            line-height: 46px;
        }
        dl {
            overflow: hidden;
            dd {
                font-weight: 400;
                font-style: normal;
                font-size: 20px;
                text-align: center;
                margin-bottom: 14px;
                line-height: 28px;
                margin-bottom: 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .slider-wrap {
            overflow: hidden;
            margin: 95px auto 86px;
            padding: 0 8px;
            .row {
                .culture {
                    position: relative;
                    text-align: center;
                    img {
                        width: 100%;
                    }
                    .text-wrap {
                        position: absolute;
                        left: 52px;
                        top: 28px;
                        color: #fff;
                        text-align: left;
                        .big-title {
                            font-size: 36px;
                        }
                        .desc {
                            margin-top: 10px;
                            font-size: 20px;
                        }
                    }
                }
            } // ul{
            //     font-size: 0;
            //     text-align: center;
            //     li{
            //         width: 350px;
            //         height: 234px;
            //         display: inline-block;
            //         position: relative;
            //         img{
            //             width: 100%;
            //             height: 100%;
            //         }
            //         .text-wrap{
            //             position: absolute;
            //             left: 52px;
            //             top: 28px;
            //             color: #fff;
            //             text-align: left;
            //             .big-title{
            //                 font-size: 36px;
            //             }
            //             .desc{
            //                 margin-top: 10px;
            //                 font-size: 20px;
            //             }
            //         }
            //         &.item-1{
            //             float: left;
            //         }
            //         &.item-2{
            //         }
            //         &.item-3{
            //             float: right;
            //         }
            //     }
            // }
        }
        .more-wrap {
            .more-title {
                font-weight: 400;
                font-style: normal;
                font-size: 40px;
                color: #0252D9;
                text-align: center;
                margin-top: 82px;
                overflow: hidden;
                height: 46px;
                overflow: hidden;
                line-height: 46px;
            }
            .more-text {
                font-size: 20px;
                margin-top: 20px;
                text-align: center;
                margin-bottom: 40px;
            }
            .phone-and-msg {
                cursor: pointer;
                width: 952px;
                height: 590px;
                .swiper-button-prev {
                    background: none;
                    .iconfont {
                        color: $blue;
                        font-size: 40px;
                    }
                }
                .swiper-button-next {
                    background: none;
                    .iconfont {
                        color: $blue;
                        font-size: 40px;
                    }
                }
                .swiper-wrapper {
                    .swiper-slide {
                        .img-wrap {
                            float: left;
                            width: 50%;
                            text-align: right;
                            padding: 20px 0;
                            padding-right: 48px;
                            position: relative;
                            .bg-mask {
                                position: absolute;
                                width: 396px;
                                height: 330px;
                                right: 0;
                                opacity: .1;
                                /* IE 4-9 */
                                filter: alpha(opacity=10);
                                background-color: $blue;
                                top: 50%;
                                margin-top: -165px;
                            }
                            img {
                                height: 540px;
                                position: relative;
                                z-index: 9;
                            }
                        }
                        .text-wrap {
                            float: right;
                            width: 50%;
                            padding-left: 76px;
                            .title {
                                font-size: 20px;
                                font-weight: 400;
                                color: #0252D9;
                                text-align: left;
                                margin: 160px 0 10px;
                            }
                            .desc {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: normal;
                                width: 80%;
                            }
                        }
                    }
                }
            } // .img-wrap{
            //     width: 1100px;
            //     height: 589px;
            //     background-image: url(../../images/index/u29.png);
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-size: cover;
            //     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/index/u29.png', sizingMethod='scale');
            //     margin: 0 auto;
            //     overflow: hidden;
            //     text-align: center;
            //     padding-top: 34px;
            //     img{
            //         width: 776px;
            //         height: 485px;
            //     }
            // }
            .more-link-wrap {
                text-align: center;
                margin-top: 28px;
                margin-bottom: 72px;
                overflow: hidden;
                cursor: pointer;
                color: $blue;
                .more-link {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 20px;
                    color: $blue;
                }
                .iconfont {
                    font-size: 26px;
                    vertical-align: middle;
                }
            }
        }
        .describe {
            overflow: hidden;
            width: 100%;
            .title-wrap {
                margin-top: 36px;
                font-weight: 400;
                font-style: normal;
                color: #0252D9;
                text-align: center;
                overflow: hidden;
                margin-bottom: 12px;
                height: 100px;
                .small {
                    font-size: 40px;
                }
                .big {
                    font-size: 72px;
                }
            }
            .desc {
                font-weight: 400;
                font-style: normal;
                font-size: 20px;
                color: #333;
                text-align: center;
            }
            .desc-avatar {
                overflow: hidden;
                margin: 42px 152px 0;
                .container-fluid {
                    .row {
                        .detail {
                            padding: 10px 16px;
                            .detail-wrap {
                                &:hover {
                                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                                }
                                .action-wrap {
                                    position: relative;
                                    height: 200px;
                                    overflow: hidden;
                                    cursor: pointer;
                                    &:hover {
                                        .more-act {
                                            display: block;
                                            display: none\0;
                                            display: none\9\0;
                                            *display: none\0;
                                            _display: none\0;
                                        }
                                        img {
                                            transform: scale(1.1);
                                        }
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        transition: all 1s;
                                    }
                                    .more-act {
                                        display: none;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        background-color: rgba(0, 0, 0, 0.6);
                                        text-align: center;
                                        left: 0;
                                        top: 0;
                                        line-height: 200px;
                                        color: #fff;
                                        font-size: 28px;
                                        font-weight: 200;
                                    }
                                }
                                .desc-wrap {
                                    text-align: center;
                                    padding: 12px 40px 0;
                                    height: 200px;
                                    overflow: hidden;
                                    .text {
                                        font-size: 16px;
                                    }
                                    .desc-text {
                                        margin-top: 40px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
                ul {
                    font-size: 0;
                    text-align: center;
                    overflow: hidden;
                    li {
                        display: inline-block;
                        width: 300px;
                        margin: 10px 16px;
                        overflow: hidden;
                        &:hover {
                            box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                        }
                        .action-wrap {
                            position: relative;
                            height: 200px;
                            overflow: hidden;
                            cursor: pointer;
                            &:hover {
                                .more-act {
                                    display: block;
                                    display: none\0;
                                    display: none\9\0;
                                    *display: none\0;
                                    _display: none\0;
                                }
                                img {
                                    transform: scale(1.1);
                                }
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                transition: all 1s;
                            }
                            .more-act {
                                display: none;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background-color: rgba(0, 0, 0, 0.6);
                                text-align: center;
                                left: 0;
                                top: 0;
                                line-height: 200px;
                                color: #fff;
                                font-size: 28px;
                                font-weight: 200;
                            }
                        }
                        .desc-wrap {
                            text-align: center;
                            padding: 12px 40px 0;
                            height: 200px;
                            overflow: hidden;
                            .text {
                                font-size: 16px;
                            }
                            .desc-text {
                                margin-top: 40px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .join-us {
            margin-top: 100px;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: #0252D9;
            text-align: center;
            margin-bottom: 64px;
            overflow: hidden;
            display: block;
        }
    }
}

.partner-wrap {
    background-color: #333333;
    width: 100%;
    overflow: hidden;
    .partner-main {
        margin: 0 auto;
        overflow: hidden;
        .title {
            font-weight: 400;
            font-style: normal;
            font-size: 40px;
            color: #FFFFFF;
            text-align: center;
            margin-top: 52px;
            margin-bottom: 10px;
            overflow: hidden;
        }
        .desc {
            font-weight: 200;
            font-style: normal;
            font-size: 20px;
            color: #FFFFFF;
            text-align: center;
        }
        .container-fluid {
            margin-top: 45px;
            overflow: hidden;
            padding-bottom: 50px;
            .row {
                .col-lg-3 {
                    padding: 5px;
                    .img-wrap {
                        border: 1px solid #FFF;
                        height: 170px;
                        text-align: center;
                        background-color: #fff;
                        &:hover {
                            img {
                                transform: scale(1.2);
                            }
                        }
                        img {
                            transition: all .5s;
                            height: 40px;
                            position: relative;
                            top: 50%;
                            margin-top: -20px;
                        }
                    }
                }
            }
        } // .partner-list-wrap{
        //     margin-top: 45px;
        //     overflow: hidden;
        //     padding-bottom: 50px;
        //     ul{
        //         font-size: 0;
        //         text-align: center;
        //         li{
        //             overflow: hidden;
        //             margin:  5px;
        //             width: 300px;
        //             height: 170px;
        //             border: 1px solid #FFF;
        //             text-align: center;
        //             vertical-align: middle;
        //             display: inline-block;
        //             position: relative;
        //             background-color: #fff;
        //             cursor: pointer;
        //             &:hover{
        //                 img{
        //                     transform: scale(1.2);
        //                 }
        //             }
        //             img{
        //                 transition: all .5s;
        //                 height: 40px;
        //                 position: relative;
        //                 top: 50%;
        //                 margin-top: -20px;
        //             }
        //         }
        //     }
        // }
    }
}

.footer-bar {
    background: #333;
}

@media (max-width: 1200px) {
    .index-main {
        .brief-introduction {
            .more-wrap {
                .phone-and-msg {
                    width: 476px;
                    .swiper-wrapper {
                        .swiper-slide {
                            .img-wrap {
                                text-align: center;
                                width: 100%;
                                padding-right: 0;
                                .bg-mask{
                                    left: 46px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .index-body {
        .main {
            .text-wrap {
                .sm-title {
                    left: 50%;
                    margin-left: -186px;
                }
                .big-title {
                    left: 50%;
                    margin-left: -330px;
                }
            }
        }
    }
}

// -------------------------------------
@media (max-width: 768px) {
    .partner-wrap {
        background-color: #fff;
        .partner-main {
            margin-bottom: .08rem;
            padding: 0;
            .desc {
                color: $blue;
                font-family: 'Regular';
                font-size: .44rem;
                margin-bottom: .4rem;
            }
            .container-fluid {
                margin-top: 0;
                padding-bottom: 0;
                .row {
                    .col-lg-3 {
                        padding: 0;
                        .img-wrap {
                            border: none;
                            height: 2.4rem;
                            img {
                                border: none;
                                width: 70%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .phone-screen {
        margin-top: 1.04rem;
        // padding-top: 48px;
        position: relative;
        // overflow: hidden;
        // min-height: 100vh;
        .footer-text {
            text-align: center;
            font-size: .36rem;
            a{
                color: $blue;
            }
        }
        .next-page {
            // position: absolute;
            width: .8rem;
            height: .8rem;
            margin: 0 auto;
            // left: 50%;
            // bottom: 20px;
            // margin-left: -20px;
            i.iconfont {
                color: $blue;
                font-size: .8rem;
            }
        }
        .text-wrap {
            // margin-top: 52px;
            overflow: hidden;
            text-align: center;
            .title {
                font-size: .44rem;
                color: $blue;
            }
            .desc {
                font-size: .28rem;
                margin-top: .3rem;
                color: #000;
            }
        }
    }
    .phone-screen-1 {
        background-color: $blue;
        color: #fff;
        text-align: center;
        overflow: hidden;
        padding-top: 4.66rem;
        height: 100vh;
        margin-top: 0;
        .next-page {
            position: absolute;
            left: 50%;
            margin-left: -0.4rem;
            bottom: .4rem;
            i.iconfont {
                color: #fff;
            }
        }
        .title {
            overflow: hidden;
            font-size: 1rem;
        }
        .desc {
            font-size: .5rem;
            margin-top: .4rem;
        }
    }
    .phone-screen-2 {
        .headlines {
            margin: 0px .28rem .84rem;
            -webkit-box-shadow: 0 0 0.08rem #eee;
            -moz-box-shadow: 0 0 0.08rem #eee;
            box-shadow: 0 0 0.08rem #eee;
            overflow: hidden;
            padding-bottom: .48rem;
            .title {
                font-size: .44rem;
                color: $blue;
                margin-top: .48rem;
                margin-bottom: .72rem;
                text-align: center;
                overflow: hidden;
            }
            .desc {
                text-align: center;
                color: #000;
                font-size: .26rem;
                line-height: .4rem;
                padding: 0 .1rem;
                dl {
                    dd {}
                }
            }
        }
        .slider-headlines {
            padding-bottom: .76rem;
            margin:  0 .56rem 0px;
            .swiper-wrapper {
                .swiper-slide {
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .text-wrap {
                        position: absolute;
                        left: 1.04rem;
                        top: .54rem;
                        color: #fff;
                        text-align: left;
                        .big-title {
                            font-size: .72rem;
                        }
                        .desc {
                            margin-top: .2rem;
                            font-size: .4rem;
                            color: #fff;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
    .phone-screen-3 {
        .phone-slider {
            overflow: hidden;
            padding-bottom: .4rem;
            width: 5.6rem;
            margin: .3rem .96rem 0;
            .swiper-wrapper {
                .swiper-slide {
                    .img-wrap {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .footer-text{
            margin-top: .2rem;
            margin-bottom: .24rem;
        }
    }
    .phone-screen-4 {
        .slider-detail {
            margin: .5rem .28rem 0;
            .swiper-wrapper {
                .swiper-slide {
                    padding: 10px;
                    text-align: center;
                    font-size: .36rem;
                    color: #000;
                    .slider-wrap{
                        border-radius: .08rem;
                        overflow: hidden;
                        .title {
                            margin: .52rem 0;
                        }
                        .desc {
                            margin-top: .96rem;
                            margin-bottom: .92rem;
                            padding: 0 .36rem;
                        }
                        .img-wrap {
                            padding:0 .26rem;
                            img {
                                width: 100%;
                                box-shadow: 0 .04rem .08rem #000;
                            }
                        }
                        box-shadow: 0 0 .1rem #979797;
                    }
                }
            }
        }
        .custom-pagination{
            margin: .08rem auto 0;
            position: relative;
            .swiper-pagination-bullet{
                margin:  .08rem;
            }
        }
        .footer-text{
            margin-top: .4rem;
            margin-bottom: .8rem;
        }
    }
    .phone-screen-5 {
        .category {
            margin: 0 .4rem;
            margin-top: .92rem;
            ul {
                li {
                    height: 2rem;
                    line-height: 2rem;
                    font-size: .36rem;
                    color: $blue;
                    border-radius: 0.08rem;
                    margin-bottom: .44rem;
                    overflow: hidden;
                    text-align: center;
                    box-shadow: 0 0 .08rem #979797;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .phone-screen-6 {
        padding-top: 0;
        .contact{
            overflow: hidden;
            margin-bottom: 1.08rem;
            .call-me {
                overflow: hidden;
                padding-left: .8rem;
                .call-me-wrap {
                    margin-top: .7rem;
                    overflow: hidden;
                    .row {
                        line-height: .64rem;
                        .icon {
                            i.iconfont {
                                position: absolute;
                                width: .68rem;
                                display: block;
                                float: left;
                                font-size: .5rem;
                                margin-right: .08rem;
                                vertical-align: middle;
                                position: relative; // top: -4px;
                            }
                        }
                        .text {
                            padding-left: 0;
                            font-size: .26rem;
                        }
                    }
                }
            }
        }
        .call-map {
            height: 6rem;
        }
    }
}
// H5 Adaptation-------------------
// @media (max-height: 736px) {
//     .phone-screen{
//         .text-wrap{
//             margin-top: 12px;
//             .title{
//                 font-size: 18px;
//             }
//             .desc{
//                 margin-top: 4px;
//             }
//         }
//         .footer-text{
//             margin-top: 10px;
//         }
//     } 
//     .phone-screen-2{
//         .slider-headlines{
//             margin-bottom: 0px;
//         }  
//         .headlines{
//             margin: 22px 14px 22px;
//             padding-bottom: 20px;
//             .title{
//                 margin-top: 10px;
//                 margin-bottom: 20px;
//             }
//         }
//     } 
//     .phone-screen-3{
//         .phone-slider{
//             margin: 0 90px;
//             padding-bottom: 4px;
//         }
//         .swiper-container-horizontal>.swiper-pagination-bullets{
//             bottom: 0;
//         }
//         .footer-text{
//             margin: 10px 0 6px;
//         }
//     } 
//     .phone-screen-4{
//         .custom-pagination{
//             margin: 8px auto 6px;
//         }
//         .slider-detail{
//             margin: 20px 24px 0;
//             .swiper-wrapper .swiper-slide{
//                 .title{
//                     margin: 14px 0;
//                 }
//                 .desc{
//                     margin-top: 24px;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//         .footer-text{
//             margin-top: 0;
//             margin-bottom: 6px;
//         }
//     } 
//     .partner-wrap .partner-main{
//         .desc{
//             margin-top: 36px;
//         }
//         .container-fluid{
//             margin-top: 20px;
//             .row .col-lg-3 .img-wrap{
//                 height: 110px;
//             }
//         }
//     } 
//     .phone-screen-6{
//         .text-wrap{
//             margin-top: 42px;
//         }
//         .contact .call-me .call-me-wrap{
//             margin-top: 20px;
//         }
//     }
// }
// H5 Adaptation-------------------
// @media (max-height: 620px) {
//     .phone-screen{
//         .text-wrap{
//             margin-top: 12px;
//             .title{
//                 font-size: 18px;
//             }
//             .desc{
//                 margin-top: 4px;
//             }
//         }
//         .footer-text{
//             margin-top: 10px;
//         }
//     } 
//     .phone-screen-2{
//         .slider-headlines{
//             padding-bottom: 20px;
//             margin: 0 40px 10px;
//             .swiper-pagination.swiper-pagination-bullets{
//                 bottom: 0;
//             }
//         }  
//         .headlines{
//             padding-bottom: 16px;
//             margin: 22px 14px 20px;
//             .title{
//                 margin-top: 8px;
//                 margin-bottom: 10px;
//             }
//         }

//     } 
//     .phone-screen-3{
//         .phone-slider{
//             margin: 0 88px;
//         }
//     } 
//     .phone-screen-4{
//         .text-wrap{
//             .desc{
//                 margin-top: 10px;
//             }
//         }
//         .custom-pagination{
//             margin: 6px auto 2px;
//         }
//         .slider-detail{
//             margin: 10px 40px 0;
//             .swiper-wrapper .swiper-slide{
//                 .title{
//                     margin: 10px 0;
//                 }
//                 .desc{
//                     margin-top: 28px;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//         .footer-text{
//             margin: 4px 0 0;
//         }
//     } 
//     .partner-wrap .partner-main{
//         .desc{
//             margin: 22px 0 10px;
//         }
//         .container-fluid{
//             margin-top: 10px;
//             .row .col-lg-3 .img-wrap{
//                 height: 96px;
//             }
//         }
//     } 
//     .phone-screen-6{
//         .text-wrap{
//             overflow: hidden;
//             margin-top: 36px;
//         }
//         .contact .call-me .call-me-wrap{
//             margin-top: 20px;
//         }
//     }
// }
// @media (max-width: 360px) {
//     .phone-screen-1{
//         .title{
//             font-size: 40px;
//         }
//         .desc{
//             font-size: 18px;
//         }
//     }
//     .phone-screen-2{
//          .headlines{
//             .title{
//                 font-size: 18px;
//             }
//             .desc{
//                 font-size: 12px;
//             }
//          } 
//     }
//     .phone-screen-4 .slider-detail .swiper-wrapper .swiper-slide{
//         font-size: 14px;
//     }
//     .phone-screen-6{
//         .contact .call-me .call-me-wrap{
//             margin-top: 10px;
//             .row{
//                 line-height: 26px;
//             }
//         }
//         .text-wrap{
//             margin-top: 30px;
//         }
//     }
// }