$blue:#0252d9;
$gray:#fafafa;

//联系我背景
.call-me {
    img{
        width: 100%;
    }
    position: relative;
    .text-wrap{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -256px;
        margin-top: -70px;
        width: 512px;
        text-align: center;
        .title {
            font-size: 48px;
            color: #fff;
            font-weight: 100;
            padding-bottom: 28px;
            position: relative;

            &:after,
            & .after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
            }
        }

        .desc {
            margin-top: 10px;
            font-size: 28px;
            font-weight: 200;
            color: #fff;
        }
    }
}





//location 定位
.location {
    margin-top: 42px;
    width: 100%;
    margin-bottom: 42px;
    overflow: hidden;

    .main {
        margin: 0 auto;
        width: 1366px;
        .row{
            .map{
                width: 50%;
                float: left;
                #container-map{
                    height: 458px;
                }
            }
            .msg{
                padding-left: 50px;
                width: 50%;
                float: right;
                .header{
                    overflow: hidden;
                    margin-top: 32px;
                    margin-bottom: 30px;
                    font-size: 28px;
                    color: $blue;
                    font-weight: 200;
                }
                .title {
                    font-size: 28px;
                    font-weight: 200px;
                    margin-top: 36px;
                    margin-bottom: 13px;
                    overflow: hidden;
                }
    
                dl {
                    overflow: hidden;
                    dd {
                        i.iconfont{
                            width: 34px;
                            display: inline-block;
                            font-size: 25px;
                            margin-right: 4px;
                            vertical-align: middle;
                            position: relative;
                            // top: -4px;
                        }
                        vertical-align: middle;
                        font-size: 13px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    body{
        padding-top: .96rem;
    }
    .call-me {
        .text-wrap{
            margin-top: .84rem;
            width: 70%;
            margin-left: 0;
            margin-top: 0;
            -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
            .title {
                font-size: .6rem;
                padding-bottom: .16rem;
                &:after,
                & .after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #fff;
                }
            }
    
            .desc {
                font-size: .36rem;
            }
        }
    }
    .location{
        margin-top: .4rem;
    }
    .location .main .row .map #container-map{
        height: 4rem;
    }
    .location .main .row .msg .header{
        font-size: .48rem;
    }
}