$blue:#0252d9;
$gray:#fafafa;


.detail-body {
    // margin-top: 80px;
    margin-bottom: 42px;
    width: 100%;

    .main {
        overflow: hidden;
        text-align: center;

        .title {
            overflow: hidden;
            margin-top: 52px;
            margin-bottom: 20px;
            font-size: 28px;
            color: $blue;
            font-weight: 400;
        }

        .phone-wrap {
            height: 500px;
            // background-image: url(../../images/产品介绍/WIFI热点大师.png);
            // background-repeat: no-repeat;
            // background-position: center center;
            // background-size: cover;
            margin: 0 auto;
            // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/iPhoneX样机.png', sizingMethod='scale');
            transition: .5s;
            
            &:hover {
                -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
            }
            img{
                height: 100%;
            }
        }
        .text-wrap{
            margin-top: -34px;
            overflow: hidden;
            .release-time {
                font-size: 12px;
                margin-bottom: 16px;
                margin-top: 20px;
            }
            
            .release-desc {
                width: 90%;
                margin: 0 auto;
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 768px) {
    body{
        padding-top: .96rem;
    }
    .detail-body .main .title{
        margin-bottom: .2rem;
        margin-top: .52rem;
        font-size: .44rem;
    }
    .detail-body .main .phone-wrap{
        height: 60vh;
    }
    .detail-body .main .text-wrap{
        margin-top: -.4rem;
    }
    .detail-body .main .text-wrap .release-time{
        font-size: .24rem;
        margin-bottom: .32rem;
        margin-top: .4rem;
    }
    .detail-body .main .text-wrap .release-desc{
        font-size: .24rem;
    }
    .detail-body .main .phone-wrap:hover{
        transform: none;
        transition: none;
    }
}