@charset "UTF-8";
.product-body {
  margin-top: 80px;
  width: 100%;
  background-color: #eee;
  height: 500px;
  background-image: url(../../images/product/产品的副本.png);
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/product/产品的副本.png', sizingMethod='scale');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden; }
  .product-body .title {
    overflow: hidden;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    margin-top: 23px;
    font-weight: 100; }
  .product-body .desc {
    font-weight: 100;
    margin-top: 10px;
    font-size: 28px;
    color: #fff; }

.product-main {
  width: 100%;
  overflow: hidden; }
  .product-main .main {
    width: 1366px;
    margin: 0 auto;
    overflow: hidden; }
    .product-main .main .title {
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      margin-top: 76px; }
    .product-main .main ul {
      text-align: center;
      font-size: 0;
      -webkit-text-size-adjust: none;
      overflow: hidden; }
      .product-main .main ul li {
        text-align: center;
        vertical-align: top;
        width: 244px;
        height: 244px;
        padding: 50px 46px;
        display: inline-block;
        box-sizing: content-box;
        overflow: hidden; }
        .product-main .main ul li .img-wrap {
          text-align: center; }
          .product-main .main ul li .img-wrap a {
            color: #fff; }
            .product-main .main ul li .img-wrap a img {
              width: 122px;
              height: 122px;
              transition: .4s; }
              .product-main .main ul li .img-wrap a img:hover {
                transform: scale(1.1); }
        .product-main .main ul li .title {
          margin-top: 12px;
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 28px;
          height: 28px; }
        .product-main .main ul li .desc {
          font-size: 12px;
          text-align: left;
          width: 245px;
          margin: 0 auto;
          line-height: 18px; }
