.product-body {
  width: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative; }
  .product-body img {
    width: 100%;
    vertical-align: middle; }
  .product-body .text-wrap {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0; }
    .product-body .text-wrap .title {
      overflow: hidden;
      font-size: 48px;
      font-weight: 400;
      color: #fff;
      margin-top: 23px;
      font-weight: 100; }
    .product-body .text-wrap .desc {
      font-weight: 100;
      margin-top: 10px;
      font-size: 28px;
      color: #fff; }

.product-main {
  width: 100%;
  overflow: hidden; }
  .product-main .main {
    margin: 0 auto;
    overflow: hidden; }
    .product-main .main .title {
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      margin-top: 76px; }
    .product-main .main .container-fluid {
      margin-bottom: 50px; }
      .product-main .main .container-fluid .row {
        margin-top: 50px;
        text-align: center;
        font-size: 0; }
        .product-main .main .container-fluid .row .col-md-3 {
          vertical-align: top;
          height: 244px; }
          .product-main .main .container-fluid .row .col-md-3 .img-wrap {
            text-align: center; }
            .product-main .main .container-fluid .row .col-md-3 .img-wrap a {
              color: #fff; }
              .product-main .main .container-fluid .row .col-md-3 .img-wrap a img {
                width: 122px;
                height: 122px;
                transition: .4s; }
                .product-main .main .container-fluid .row .col-md-3 .img-wrap a img:hover {
                  transform: scale(1.1); }
          .product-main .main .container-fluid .row .col-md-3 .title {
            margin-top: 12px;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 28px;
            height: 28px; }
          .product-main .main .container-fluid .row .col-md-3 .desc {
            font-size: 12px;
            text-align: left;
            width: 245px;
            margin: 0 auto;
            line-height: 18px; }

@media (max-width: 768px) {
  .product-main {
    padding-top: .96rem;
    overflow: hidden; }
    .product-main .main {
      overflow: hidden; }
      .product-main .main .text-wrap {
        margin-top: 1.04rem;
        margin-bottom: .72rem;
        overflow: hidden;
        text-align: center; }
        .product-main .main .text-wrap .title {
          font-size: .44rem;
          color: #0252d9;
          margin-top: 0; }
        .product-main .main .text-wrap .desc {
          font-size: .28rem;
          margin-top: .3rem;
          color: #000; }
      .product-main .main .container-fluid {
        margin-bottom: 0; }
        .product-main .main .container-fluid .row {
          margin-top: 0; }
          .product-main .main .container-fluid .row .col-md-3 {
            height: auto;
            margin-bottom: .2rem; } }
@media (max-height: 736px) {
  .product-main .main .text-wrap {
    margin-top: .64rem;
    margin-bottom: .52rem; } }
