$blue:#0252d9;
$gray:#fafafa;

.product-body {
    // margin-top: 80px;
    width: 100%;
    background-color: #eee;
    // height: 500px;
    // background-image: url(../../images/product/产品的副本.png);
    // overflow: hidden;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/product/产品的副本.png', sizingMethod='scale');
    // background-repeat: no-repeat;
    // background-size: 100%;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        vertical-align: middle;
    }
    .text-wrap{
        width: 100%;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        .title{
            overflow: hidden;
            font-size: 48px;
            font-weight: 400;
            color: #fff;
            margin-top: 23px;
            font-weight: 100;
        }
        .desc{
            font-weight: 100;
            margin-top: 10px;
            font-size: 28px;
            color: #fff;
        }
    }
}

.product-main {
    width: 100%;
    overflow: hidden;
    .main {
        margin: 0 auto;
        overflow: hidden;

        .title {
            font-size: 36px;
            font-weight: 400;
            text-align: center;
            margin-top: 76px;
        }

        .container-fluid{
            margin-bottom: 50px;
            .row{
            margin-top: 50px;
            text-align: center;
            font-size: 0;
                .col-md-3{
                vertical-align: top;
                height: 244px;
                    .img-wrap {
                        text-align: center;
                        a {
                            color: #fff;
                            img {
                                width: 122px;
                                height: 122px;
                                transition: .4s;
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    .title {
                        margin-top: 12px;
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 28px;
                        height: 28px;
                    }

                    .desc {
                        font-size: 12px;
                        text-align: left;
                        width: 245px;
                        margin: 0 auto;
                        line-height: 18px;
                    }
                }
            }
        }
        // ul {
        //     text-align: center;
        //     font-size: 0;
        //     -webkit-text-size-adjust: none;
        //     overflow: hidden;
        //     // &:last-child {
        //     //     li {
        //     //         height: 296px;
        //     //     }
        //     // }

        //     li {
        //         text-align: center;
        //         vertical-align: top;
        //         width: 244px;
        //         height: 244px;
        //         padding: 50px 46px;
        //         // float: left;
        //         display: inline-block;
        //         box-sizing: content-box;
        //         overflow: hidden;
        //         .img-wrap {
        //             text-align: center;

        //             a {
        //                 color: #fff;

        //                 img {
        //                     width: 122px;
        //                     height: 122px;
        //                     transition: .4s;

        //                     &:hover {
        //                         transform: scale(1.1);
        //                     }
        //                 }
        //             }

        //         }

        //         .title {
        //             margin-top: 12px;
        //             margin-bottom: 10px;
        //             font-size: 16px;
        //             line-height: 28px;
        //             height: 28px;
        //         }

        //         .desc {
        //             font-size: 12px;
        //             text-align: left;
        //             width: 245px;
        //             margin: 0 auto;
        //             line-height: 18px;
        //         }
        //     }
        // }
    }
}
@media (max-width: 768px) {
    .product-main{
        padding-top: 48px;
        overflow: hidden;
        .main{
            overflow: hidden;
            .text-wrap{
                margin-top: 52px;
                margin-bottom: 36px;
                overflow: hidden;
                text-align: center;
                .title{
                    font-size: 22px;
                    color: $blue;
                    margin-top: 0;
                }
                .desc{
                    font-size: 14px;
                    margin-top: 15px;
                    color: #000;
                }
            }
            .container-fluid{
                margin-bottom:0;
                .row{
                    margin-top: 0;
                    .col-md-3{
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media (max-height: 736px) {
    .product-main .main .text-wrap{
        margin-top: 32px;
    margin-bottom: 26px;
    }
}