.cooperation {
  margin-top: .96rem;
  overflow: hidden; }
  .cooperation .text-wrap {
    text-align: center;
    margin-top: .52rem;
    color: #0252d9;
    font-size: .44rem; }
  .cooperation .cooperation-list ul {
    padding: 0 .44rem .48rem; }
    .cooperation .cooperation-list ul li {
      margin-top: .48rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .cooperation .cooperation-list ul li .img-wrap {
        box-shadow: 0 0 .08rem #C4C1C1;
        width: 3rem;
        height: 2.26rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center; }
        .cooperation .cooperation-list ul li .img-wrap img {
          width: 80%; }
