@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/*上滑提示*/
@-webkit-keyframes swipeMoveTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0); }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0); } }
/*左滑提示*/
@-webkit-keyframes swipeMoveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0); }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0); } }
@-webkit-keyframes slideToTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
#fullpage {
  width: 100%;
  height: 100%; }

#fullpage .section {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  position: relative;
  padding-top: .96rem;
  padding-bottom: 1.2rem; }
  #fullpage .section .container {
    overflow: hidden;
    height: 100%; }
  #fullpage .section .next-page {
    position: absolute;
    width: .8rem;
    height: .8rem;
    color: #0252d9;
    bottom: .4rem;
    left: 50%;
    margin-left: -.4rem; }
    #fullpage .section .next-page .iconfont {
      font-size: .8rem; }
  #fullpage .section .text-wrap {
    margin-top: 3.7%;
    text-align: center;
    overflow: hidden; }
    #fullpage .section .text-wrap .title {
      font-size: .44rem;
      color: #0252d9;
      margin-bottom: 2.22%;
      font-family: 'Regular'; }
    #fullpage .section .text-wrap .desc {
      color: #000;
      font-size: 0.28rem; }
  #fullpage .section .custom-pagination {
    text-align: center;
    font-size: 0; }
    #fullpage .section .custom-pagination .swiper-pagination-bullet {
      margin: 0 .08rem; }
  #fullpage .section .footer-text {
    font-size: .36rem;
    text-align: center; }
    #fullpage .section .footer-text a {
      color: #0252d9; }

#fullpage .phone-screen-1 {
  background-color: #0252d9; }
  #fullpage .phone-screen-1 .container {
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 3.7rem;
    margin-top: 0;
    height: 100%; }
    #fullpage .phone-screen-1 .container .title {
      overflow: hidden;
      font-size: 1rem; }
    #fullpage .phone-screen-1 .container .desc {
      font-size: .5rem;
      margin-top: .4rem; }
  #fullpage .phone-screen-1 .next-page {
    color: #fff; }

#fullpage .phone-screen-2 .container .headlines {
  overflow: hidden;
  height: 44%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 0 0.08rem #eee;
  margin: 4.5% .24rem 6.9%; }
  #fullpage .phone-screen-2 .container .headlines .title {
    font-size: .44rem;
    color: #0252d9;
    line-height: .48rem; }
  #fullpage .phone-screen-2 .container .headlines .desc {
    color: #000;
    font-size: .26rem;
    line-height: .38rem; }
#fullpage .phone-screen-2 .container .slider-headlines {
  margin: 0 auto;
  width: 80%;
  height: 39.6%; }
  #fullpage .phone-screen-2 .container .slider-headlines .swiper-slide {
    position: relative; }
    #fullpage .phone-screen-2 .container .slider-headlines .swiper-slide img {
      width: 100%;
      height: 100%; }
    #fullpage .phone-screen-2 .container .slider-headlines .swiper-slide .text-msg {
      position: absolute;
      top: .92rem;
      left: .96rem;
      color: #fff; }
      #fullpage .phone-screen-2 .container .slider-headlines .swiper-slide .text-msg .big-title {
        font-weight: 400;
        font-size: .7rem;
        margin-bottom: .26rem; }
      #fullpage .phone-screen-2 .container .slider-headlines .swiper-slide .text-msg .desc {
        font-size: .36rem;
        font-weight: 100;
        color: #fff; }
#fullpage .phone-screen-2 .custom-pagination {
  margin-top: 3%; }

#fullpage .phone-screen-3 .container .phone-slider {
  height: 75%; }
  #fullpage .phone-screen-3 .container .phone-slider .swiper-slide {
    text-align: center; }
    #fullpage .phone-screen-3 .container .phone-slider .swiper-slide img {
      vertical-align: middle;
      height: 100%; }
#fullpage .phone-screen-3 .container .custom-pagination.swiper-pagination-bullets {
  margin-bottom: 3%; }

#fullpage .phone-screen-4 .container .slider-detail {
  margin: 2% auto 0;
  width: 76%;
  height: 72%; }
  #fullpage .phone-screen-4 .container .slider-detail .swiper-slide {
    font-size: .32rem;
    color: #000;
    padding: .1rem; }
    #fullpage .phone-screen-4 .container .slider-detail .swiper-slide .slider-wrap {
      border-radius: .08rem;
      overflow: hidden;
      box-shadow: 0 0 .1rem #979797;
      display: -webkit-box;
      display: -webkit-flex;
      -webkit-display: flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%; }
      #fullpage .phone-screen-4 .container .slider-detail .swiper-slide .slider-wrap .title {
        height: 18.2%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center; }
      #fullpage .phone-screen-4 .container .slider-detail .swiper-slide .slider-wrap .desc {
        height: 34.5%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 .36rem; }
      #fullpage .phone-screen-4 .container .slider-detail .swiper-slide .slider-wrap img {
        padding: 0 .2rem;
        flex: 1;
        overflow: hidden; }
#fullpage .phone-screen-4 .container .custom-pagination {
  margin: 3% 0; }

#fullpage .phone-screen-5 .container .text-wrap {
  margin-bottom: 3%;
  font-size: 0; }
  #fullpage .phone-screen-5 .container .text-wrap .title {
    margin-bottom: 0; }
#fullpage .phone-screen-5 .container .cooperation {
  height: 100%; }
  #fullpage .phone-screen-5 .container .cooperation ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%; }
    #fullpage .phone-screen-5 .container .cooperation ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      width: 50%;
      height: 22.5%; }
      #fullpage .phone-screen-5 .container .cooperation ul li img {
        width: 80%; }

#fullpage .phone-screen-6 .container .text-wrap .title {
  margin-bottom: 0; }
#fullpage .phone-screen-6 .container .contact dl {
  padding: 0 .8rem;
  margin-top: 4.5%; }
  #fullpage .phone-screen-6 .container .contact dl dd {
    padding: .04rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    #fullpage .phone-screen-6 .container .contact dl dd .iconfont {
      width: .8rem;
      font-size: .5rem;
      flex: 1; }
    #fullpage .phone-screen-6 .container .contact dl dd .text {
      flex: 6;
      font-size: .26rem;
      line-height: .4rem;
      display: inline-block; }
#fullpage .phone-screen-6 .call-map {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40%; }

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #fullpage .phone-screen-3 .container .phone-slider {
    height: 10%; }

  #fullpage .phone-screen-4 .container .slider-detail {
    height: 70%; } }
