$blue:#0252d9;
$gray:#fafafa;

#fullpage .section{
    .container{
        overflow: hidden;
        height: 100%;
        padding-top:.96rem;
    }
    .next-page{
        position: absolute;
        width: .8rem;
        height: .8rem;
        color: $blue;
        bottom: .4rem;
        left: 50%;
        margin-left: -.4rem;
        .iconfont{
            font-size: .8rem;
        }
    }
    .text-wrap{
        text-align: center;
        margin-top: .52rem;
        overflow: hidden;
        .title{
            font-size: .44rem;
            color: $blue;
            margin-bottom: .3rem;
        }
        .desc{
            color: #000;
            font-size: .28rem
        }
    }
    .custom-pagination {
        text-align: center;
        .swiper-pagination-bullet{
            margin: 0 .08rem;
        }
    }
    .footer-text{
        font-size: .36rem;
        text-align: center;
        a{
            color: $blue;
        }
    }
}
#fullpage .phone-screen-1 {
    background-color: $blue;
    .container{
        color: #fff;
        text-align: center;
        overflow: hidden;
        padding-top: 4.66rem;
        margin-top: 0;
        height: 100%;
        .title {
            overflow: hidden;
            font-size: 1rem;
        }
        .desc {
            font-size: .5rem;
            margin-top: .4rem;
        }
    }
    .next-page{
        color: #fff;
    }
}

#fullpage .phone-screen-2{
    .container{
        .headlines{
            padding: .48rem 0;
            text-align: center;
            box-shadow: 0 0 0.08rem #eee;
            margin: .56rem .28rem .86rem;
            .title{
                font-size: .44rem;
                color: $blue;
                line-height: .44rem;
                margin-bottom: .74rem;
            }
            .desc{
                color: #000;
                font-size: .26rem;
                line-height: .36rem;
            }
        }
        .slider-headlines{
            margin: 0 auto;
            width: 6.4rem;
            .swiper-slide{
                position: relative;
                
                height: 4.28rem;
                img{
                    width: 100%;
                    height: 100%;
                }
                .text-wrap{
                    position: absolute;
                    top: .92rem;
                    left: .96rem;
                    color: #fff;
                    .big-title{
                        font-weight: 400;
                        font-size: .7rem;
                        margin-bottom: .26rem;
                    }
                    .desc{
                        font-size: .36rem;
                        font-weight: 100;
                        color: #fff;
                    }
                }
            }
        }
    }
}
#fullpage .phone-screen-3{
    .container{
        .phone-slider{
            width: 4.6rem;
            .swiper-slide{
                .img-wrap{
                    font-size: 0;
                    img{
                        vertical-align: middle;
                        width: 100%;
                    }
                }
            }
        }
        .custom-pagination.swiper-pagination-bullets{
            margin-top: -0.2rem;
            margin-bottom: .2rem;
        }
    }
}