@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 1002004 */
  src: url("http://at.alicdn.com/t/font_1002004_tt6m70g2p3.eot");
  src: url("http://at.alicdn.com/t/font_1002004_tt6m70g2p3.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_1002004_tt6m70g2p3.woff2") format("woff2"), url("http://at.alicdn.com/t/font_1002004_tt6m70g2p3.woff") format("woff"), url("http://at.alicdn.com/t/font_1002004_tt6m70g2p3.ttf") format("truetype"), url("http://at.alicdn.com/t/font_1002004_tt6m70g2p3.svg#iconfont") format("svg"); }
@font-face {
  font-family: 'Regular';
  src: url("../font/庞门正道标题体.ttf") format("truetype"); }
.regular-font {
  font-family: 'Regular'; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.clear::after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: #333;
  text-decoration: none; }

li {
  list-style: none; }

body {
  color: #333;
  padding-top: 80px; }

img {
  border: none; }

.navbar {
  background-color: #0252d9;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  transition: .1s;
  transition-timing-function: ease-out;
  overflow: hidden; }
  .navbar:hover {
    height: 90px;
    height: 80px\0;
    height: 80px\9\0;
    *height: 80px\0;
    _height: 80px\0; }
  .navbar .nav-main {
    width: 1366px;
    margin: 0 auto;
    height: 100%;
    padding-left: 38px;
    padding-right: 38px;
    overflow: hidden; }
    .navbar .nav-main .logo-wrap {
      float: left;
      font-size: 0;
      height: 100%;
      position: relative; }
      .navbar .nav-main .logo-wrap:first-child {
        width: 60px; }
      .navbar .nav-main .logo-wrap .logo {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -30px;
        cursor: pointer;
        color: #0252d9; }
      .navbar .nav-main .logo-wrap .title {
        padding-left: 10px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -15px;
        cursor: pointer;
        color: #0252d9; }
    .navbar .nav-main .logo-title {
      margin-left: 4px;
      font-size: 30px;
      color: #fff;
      font-style: italic;
      float: left;
      line-height: 80px; }
    .navbar .nav-main .list-wrap {
      float: right;
      height: 100%; }
      .navbar .nav-main .list-wrap ul {
        height: 100%; }
        .navbar .nav-main .list-wrap ul li {
          height: 100%;
          float: left;
          padding: 0 6px;
          position: relative;
          width: 146px;
          padding: 0 18px; }
          .navbar .nav-main .list-wrap ul li.item-2:after, .navbar .nav-main .list-wrap ul li.item-2 .after {
            content: "";
            after: "";
            position: absolute;
            width: 1px;
            height: 12px;
            right: 0;
            background-color: #fff;
            top: 50%;
            margin-top: -6px; }
          .navbar .nav-main .list-wrap ul li.item-3:after, .navbar .nav-main .list-wrap ul li.item-3 .after {
            content: "";
            after: "";
            position: absolute;
            width: 1px;
            height: 12px;
            right: 0;
            background-color: #fff;
            top: 50%;
            margin-top: -6px; }
          .navbar .nav-main .list-wrap ul li.item-4:after, .navbar .nav-main .list-wrap ul li.item-4 .after {
            content: "";
            after: "";
            position: absolute;
            width: 1px;
            height: 12px;
            right: 0;
            background-color: #fff;
            top: 50%;
            margin-top: -6px; }
          .navbar .nav-main .list-wrap ul li.item-5:after, .navbar .nav-main .list-wrap ul li.item-5 .after {
            content: "";
            after: "";
            position: absolute;
            width: 1px;
            height: 12px;
            right: 0;
            background-color: #fff;
            top: 50%;
            margin-top: -6px; }
          .navbar .nav-main .list-wrap ul li a {
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 100%;
            line-height: 80px;
            color: #fff;
            font-size: 18px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center; }
            .navbar .nav-main .list-wrap ul li a:hover:after, .navbar .nav-main .list-wrap ul li a:hover .after {
              content: "";
              after: "";
              position: absolute;
              top: 2px;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: #fff; }

.footer-bar {
  width: 100%;
  background-color: #202324;
  overflow: hidden; }
  .footer-bar .main {
    width: 1366px;
    margin: 36px auto;
    color: #fff;
    overflow: hidden;
    position: relative; }
    .footer-bar .main .footer-wrap {
      float: left; }
      .footer-bar .main .footer-wrap dl {
        float: left;
        width: 120px;
        margin-left: 180px; }
        .footer-bar .main .footer-wrap dl:first-child {
          margin-left: 80px; }
        .footer-bar .main .footer-wrap dl dt {
          font-size: 13px;
          font-weight: 650;
          height: 30px; }
        .footer-bar .main .footer-wrap dl dd {
          font-size: 12px;
          font-weight: 200;
          line-height: 26px;
          padding-left: 4px; }
          .footer-bar .main .footer-wrap dl dd a {
            color: #fff; }
            .footer-bar .main .footer-wrap dl dd a:hover {
              color: #bcbcbc; }
    .footer-bar .main .logo-title {
      width: 224px;
      float: left;
      text-align: left;
      height: 82px;
      position: relative;
      margin-left: 30px;
      overflow: hidden;
      cursor: pointer; }
      .footer-bar .main .logo-title img {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -15px;
        height: 30px; }

.footer-banner {
  width: 100%;
  background-color: #202324;
  height: 110px;
  padding: 25px 0; }
  .footer-banner .copyright-wrap {
    margin: 0 auto;
    width: 1366px;
    font-size: 12px;
    text-align: center;
    font-weight: 200;
    color: #fff; }
    .footer-banner .copyright-wrap .copyright-bottom {
      margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
