@font-face {
    font-family: 'iconfont';  /* project id 1002004 */
    src: url('http://at.alicdn.com/t/font_1002004_eixz5mi24k.eot');
    src: url('http://at.alicdn.com/t/font_1002004_eixz5mi24k.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1002004_eixz5mi24k.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1002004_eixz5mi24k.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1002004_eixz5mi24k.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1002004_eixz5mi24k.svg#iconfont') format('svg');
  }
  @font-face{
      font-family: 'Regular';
      src: url('../font/庞门正道标题体.ttf') format('truetype');
  }
  .regular-font {
      font-family: 'Regular';
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

}
.clear::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}



$blue:#0252d9;
$gray:#fafafa;

body {
    color: #333;
    padding-top: 80px;
    background-color: #fff;
}

img{
    border: none;
}
// header

.blog-navbar {
    background-color: $blue;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    transition: .1s;
    transition-timing-function:ease-out;
    overflow: hidden;

    &:hover {
        height: 90px;
        height: 80px\0;
        height: 80px\9\0;
        *height: 80px\0;
        _height: 80px\0;

    }

    .nav-main {
        margin: 0 auto;
        height: 100%;
        padding-left: 38px;
        padding-right: 38px;
        overflow: hidden;

        .logo-wrap {
            float: left;
            font-size: 0;
            height: 100%;
            position: relative;

            &:first-child {
                width: 60px;
            }

            .logo {
                width: 60px;
                height: 60px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -30px;
                cursor: pointer;
                color: $blue;
            }

            .title {
                padding-left: 10px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
                cursor: pointer;
                color: $blue;
            }

        }

        .logo-title {
            margin-left: 4px;
            font-size: 30px;
            color: #fff;
            font-style: italic;
            float: left;
            line-height: 80px;
        }

        .list-wrap {
            float: right;
            height: 100%;

            ul {
                height: 100%;

                li {
                    height: 100%;
                    float: left;
                    padding: 0 6px;
                    position: relative;
                    width: 146px;
                    padding: 0 18px;

                    @for $i from 2 through 5 {

                        &.item-#{$i}:after,
                        &.item-#{$i} .after {
                            content: "";
                            after: "";
                            position: absolute;
                            width: 1px;
                            height: 12px;
                            right: 0;
                            background-color: #fff;
                            top: 50%;
                            margin-top: -6px;
                        }
                    }

                    a {

                        display: inline-block;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        line-height: 80px;
                        color: #fff;
                        font-size: 18px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover:after,
                        &:hover .after {
                            content: "";
                            after: "";
                            position: absolute;
                            top: 2px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}



.footer-bar {
    width: 100%;
    background-color: rgba(32, 35, 36, 1);
    overflow: hidden;

    .main {
        width: 1366px;
        margin: 36px auto;
        // padding: 36px 0;
        color: #fff;
        overflow: hidden;
        position: relative;

        .footer-wrap {
            float: left;

            dl {
                float: left;
                width: 120px;
                margin-left: 180px;
                &:first-child{
                    margin-left: 80px;
                }
                dt {
                    font-size: 13px;
                    font-weight: 650;
                    height: 30px;
                }

                dd {
                    font-size: 12px;
                    font-weight: 200;
                    line-height: 26px;
                    padding-left: 4px;

                    a {
                        &:hover {
                            color: rgb(188, 188, 188)
                        }

                        color: #fff;
                    }
                }
            }
        }

        .logo-title {
            width: 224px;
            float: left;
            text-align: left;
            height: 82px;
            position: relative;
            margin-left: 30px;
            overflow: hidden;
            cursor: pointer;
            img {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
                height: 30px;
            }
        }
    }
}

.footer-banner{
    width: 100%;
    background-color: #202324    ;
    height: 110px;
    padding: 25px 0 ;
    .copyright-wrap{
        font-size: 12px;
        text-align: center;
        font-weight: 200;
        color: #fff;
        .copyright{
        
        }
        .copyright-bottom{
            margin-top: 10px;
        }
    }
}

@media (max-width: 992px) {
    .blog-navbar .nav-main{
        width: 100%;
        .list-wrap{
            ul{
                li{
                    width: 100px;
                    padding: 10px;
                }
            }
        }
    }
  }
@media (max-width: 768px) {
    body{
        padding-top: 0;
    }
    .phone-navbar{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        height: 48px;
        background-color: $blue;
        z-index: 99;
        &.active{
            .full-screen{
            transform: scale(1);
            opacity: 1;
            }
        }
        .full-screen{
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.8);
            padding-top: 32vh;
            opacity: 0;
            transform-origin: right top;
            transform: scale(.2);
            transition: .3s;
            ul{
                margin: 0 auto;
                li{
                    line-height: 40px;
                    text-align: center;
                    a{
                        font-size: 20px;
                    color: #fff;
                    }
                }
            }
        }
        .img-wrap{
            z-index: 999;
            position: relative;
            height: 30px;
            padding: 11px;
            a{
                display: block;
                height: 26px;
                img{
                    height: 100%
                }
            }

        }
        .hamburger{
            z-index: 999;
            position: relative;
            .iconfont{
                width: 40px;
                height: 40px;
                font-size: 40px;
                padding: 4px 0;
                color: #fff;
            }
        }
    }
}