@font-face {
    font-family: 'iconfont';  /* project id 1002004 */
    src: url('http://at.alicdn.com/t/font_1002004_ytm4ly2w7w.eot');
    src: url('http://at.alicdn.com/t/font_1002004_ytm4ly2w7w.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1002004_ytm4ly2w7w.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1002004_ytm4ly2w7w.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1002004_ytm4ly2w7w.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1002004_ytm4ly2w7w.svg#iconfont') format('svg');
  }
  
  
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.clear::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}



$blue:#0252d9;
$gray:#fafafa;

body {
    color: #333;
}

img{
    border: none;
}
// header

.navbar {
    background-color: $blue;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    transition: .1s;
    transition-timing-function:ease-out;
    overflow: hidden;

    &:hover {
        height: 90px;
        height: 80px\0;
        height: 80px\9\0;
        *height: 80px\0;
        _height: 80px\0;

    }

    .nav-main {
        width: 1366px;
        margin: 0 auto;
        height: 100%;
        padding-left: 38px;
        padding-right: 38px;
        overflow: hidden;

        .logo-wrap {
            float: left;
            font-size: 0;
            height: 100%;
            position: relative;

            &:first-child {
                width: 60px;
            }

            .logo {
                width: 60px;
                height: 60px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -30px;
                cursor: pointer;
                color: $blue;
            }

            .title {
                margin-left: 10px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
                cursor: pointer;
                color: $blue;
            }

        }

        .logo-title {
            margin-left: 4px;
            font-size: 30px;
            color: #fff;
            font-style: italic;
            float: left;
            line-height: 80px;
        }

        .list-wrap {
            float: right;
            height: 100%;

            ul {
                height: 100%;

                li {
                    height: 100%;
                    float: left;
                    padding: 0 6px;
                    position: relative;
                    width: 146px;
                    padding: 0 18px;

                    @for $i from 2 through 5 {

                        &.item-#{$i}:after,
                        &.item-#{$i} .after {
                            content: "";
                            after: "";
                            position: absolute;
                            width: 1px;
                            height: 12px;
                            right: 0;
                            background-color: #fff;
                            top: 50%;
                            margin-top: -6px;
                        }
                    }

                    a {

                        display: inline-block;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        line-height: 80px;
                        color: #fff;
                        font-size: 18px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover:after,
                        &:hover .after {
                            content: "";
                            after: "";
                            position: absolute;
                            top: 2px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}



.footer-bar {
    width: 100%;
    background-color: rgba(32, 35, 36, 1);
    overflow: hidden;

    .main {
        width: 1366px;
        margin: 36px auto;
        // padding: 36px 0;
        color: #fff;
        overflow: hidden;
        position: relative;

        .footer-wrap {
            float: left;

            dl {
                float: left;
                width: 120px;
                margin-left: 180px;
                &:first-child{
                    margin-left: 80px;
                }
                dt {
                    font-size: 13px;
                    font-weight: 650;
                    height: 30px;
                }

                dd {
                    font-size: 12px;
                    font-weight: 200;
                    line-height: 26px;
                    padding-left: 4px;

                    a {
                        &:hover {
                            color: rgb(188, 188, 188)
                        }

                        color: #fff;
                    }
                }
            }
        }

        .logo-title {
            width: 224px;
            float: left;
            text-align: left;
            height: 82px;
            position: relative;
            margin-left: 30px;
            overflow: hidden;
            cursor: pointer;
            img {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
                height: 30px;
            }
        }
    }
}