.recruit-body {
  width: 100%;
  padding: 20px 0;
  height: 100vh;
  background-color: #0252d9;
  text-align: center; }
  .recruit-body img {
    width: 774px; }

.fade {
  animation: fade 1s; }

@keyframes fade {
  100% {
    height: 0;
    opacity: 0; } }
.bounceIn {
  animation: bounceIn .8s; }

@keyframes bounceIn {
  0%,
    20%,
    40%,
    60%,
    80%,
    100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }
.recruit-detail {
  width: 100%; }
  .recruit-detail .main {
    margin: 0 auto; }
    .recruit-detail .main .recruit-title {
      margin-top: 18px;
      margin-bottom: 50px;
      font-size: 36px;
      font-weight: 200;
      text-align: center; }
    .recruit-detail .main .recruit-type .row .box .text-wrap {
      width: 130px;
      height: 130px;
      text-align: center;
      color: #0252d9;
      font-family: 'Regular';
      border-radius: 50%;
      background-color: #fafafa;
      font-size: 26px;
      line-height: 130px; }
      .recruit-detail .main .recruit-type .row .box .text-wrap:hover {
        background-color: #0252d9;
        color: #fff; }
    .recruit-detail .main .recruit-position {
      width: 1156px;
      margin: 24px auto 50px;
      background-color: #fafafa;
      border-radius: 14px;
      behavior: url(ie-css3.htc);
      position: relative;
      z-index: 9; }
      .recruit-detail .main .recruit-position ul li {
        position: relative; }
        .recruit-detail .main .recruit-position ul li.item-1:after, .recruit-detail .main .recruit-position ul li.item-1 .after {
          content: "";
          after: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 1px dashed #d7d7d7;
          width: 100%; }
        .recruit-detail .main .recruit-position ul li.item-2:after, .recruit-detail .main .recruit-position ul li.item-2 .after {
          content: "";
          after: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 1px dashed #d7d7d7;
          width: 100%; }
        .recruit-detail .main .recruit-position ul li.item-3:after, .recruit-detail .main .recruit-position ul li.item-3 .after {
          content: "";
          after: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 1px dashed #d7d7d7;
          width: 100%; }
        .recruit-detail .main .recruit-position ul li.item-4:after, .recruit-detail .main .recruit-position ul li.item-4 .after {
          content: "";
          after: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 1px dashed #d7d7d7;
          width: 100%; }
        .recruit-detail .main .recruit-position ul li.item-5:after, .recruit-detail .main .recruit-position ul li.item-5 .after {
          content: "";
          after: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 1px dashed #d7d7d7;
          width: 100%; }
        .recruit-detail .main .recruit-position ul li.active.item .item .title {
          font-size: 15px; }
        .recruit-detail .main .recruit-position ul li.active.item .item .desc {
          display: none; }
        .recruit-detail .main .recruit-position ul li.active.item .item .iconfont.up {
          display: block; }
        .recruit-detail .main .recruit-position ul li.active.item .item .iconfont.down {
          display: none; }
        .recruit-detail .main .recruit-position ul li.active.item .item-wrap {
          display: block; }
        .recruit-detail .main .recruit-position ul li .item {
          height: 70px;
          line-height: 70px;
          padding-left: 28px; }
          .recruit-detail .main .recruit-position ul li .item:hover {
            cursor: pointer; }
            .recruit-detail .main .recruit-position ul li .item:hover .desc {
              display: block; }
          .recruit-detail .main .recruit-position ul li .item .title {
            float: left;
            font-size: 13px;
            transition: all .1s; }
          .recruit-detail .main .recruit-position ul li .item .desc {
            float: right;
            font-size: 13px;
            color: #0252d8;
            display: none; }
          .recruit-detail .main .recruit-position ul li .item .iconfont {
            margin-right: 30px;
            margin-left: 22px;
            float: right;
            color: #727272;
            display: none;
            font-size: 30px; }
            .recruit-detail .main .recruit-position ul li .item .iconfont.down {
              display: block; }
            .recruit-detail .main .recruit-position ul li .item .iconfont:hover {
              color: #0252d9; }
        .recruit-detail .main .recruit-position ul li .item-wrap {
          overflow: hidden;
          display: none;
          padding: 0 28px; }
          .recruit-detail .main .recruit-position ul li .item-wrap dl.contact dd {
            line-height: 36px;
            font-size: 18px;
            font-weight: 200; }
          .recruit-detail .main .recruit-position ul li .item-wrap dl {
            overflow: hidden;
            margin-bottom: 30px; }
            .recruit-detail .main .recruit-position ul li .item-wrap dl dt {
              font-size: 15px;
              line-height: 28px; }
            .recruit-detail .main .recruit-position ul li .item-wrap dl dd {
              font-size: 14px;
              line-height: 26px; }

@media (max-width: 1200px) {
  .recruit-detail .main .recruit-position {
    width: 100%; }

  .recruit-detail .main .recruit-position ul li .item {
    height: 60px;
    line-height: 60px; }

  .recruit-detail .main .recruit-type .row .box .text-wrap {
    height: 120px;
    width: 120px;
    line-height: 120px;
    font-size: 24px; } }
@media (max-width: 992px) {
  .recruit-detail .main .recruit-position {
    width: 100%; }

  .recruit-detail .main .recruit-position ul li .item {
    height: 60px;
    line-height: 60px; }

  .recruit-detail .main .recruit-type .row .box .text-wrap {
    height: 110px;
    width: 110px;
    line-height: 110px;
    font-size: 24px; } }
@media (max-width: 768px) {
  body {
    padding-top: .96rem;
    padding-bottom: 1rem; }

  .phone-screen-5 {
    margin: .64rem 0; }
    .phone-screen-5.active .text-wrap {
      display: none; }
    .phone-screen-5.active .category {
      margin: 0 .4rem 0; }
      .phone-screen-5.active .category ul li {
        display: none; }
        .phone-screen-5.active .category ul li.active {
          display: block;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto 0; }
    .phone-screen-5 .text-wrap {
      overflow: hidden;
      text-align: center; }
      .phone-screen-5 .text-wrap .title {
        font-size: .44rem;
        color: #0252d9; }
    .phone-screen-5 .category {
      margin: .92rem .4rem 0; }
      .phone-screen-5 .category ul li {
        height: 2rem;
        line-height: 2rem;
        font-size: .36rem;
        color: #0252d9;
        border-radius: 0.08rem;
        margin-bottom: .44rem;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 0 .08rem #979797; }
        .phone-screen-5 .category ul li:last-child {
          margin-bottom: 0; }

  .recruit-detail .main {
    padding: 0; }
    .recruit-detail .main .category {
      width: 100%;
      padding: .52rem 0 .44rem;
      text-align: center; }
      .recruit-detail .main .category img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow: 0 0 .08rem #979797; }
    .recruit-detail .main .recruit-position {
      display: none;
      margin: 0 .4rem;
      width: auto;
      box-shadow: 0 0 .08rem #4c4c4c;
      border-radius: .1rem; }
      .recruit-detail .main .recruit-position ul li.item-1:after, .recruit-detail .main .recruit-position ul li.item-1 .after {
        content: "";
        after: "";
        position: absolute;
        right: 2rem;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #d7d7d7; }
      .recruit-detail .main .recruit-position ul li.item-2:after, .recruit-detail .main .recruit-position ul li.item-2 .after {
        content: "";
        after: "";
        position: absolute;
        right: 2rem;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #d7d7d7; }
      .recruit-detail .main .recruit-position ul li.item-3:after, .recruit-detail .main .recruit-position ul li.item-3 .after {
        content: "";
        after: "";
        position: absolute;
        right: 2rem;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #d7d7d7; }
      .recruit-detail .main .recruit-position ul li.item-4:after, .recruit-detail .main .recruit-position ul li.item-4 .after {
        content: "";
        after: "";
        position: absolute;
        right: 2rem;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #d7d7d7; }
      .recruit-detail .main .recruit-position ul li.item-5:after, .recruit-detail .main .recruit-position ul li.item-5 .after {
        content: "";
        after: "";
        position: absolute;
        right: 2rem;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #d7d7d7; }
      .recruit-detail .main .recruit-position ul li .item-wrap {
        padding: 0 .24rem; }
      .recruit-detail .main .recruit-position ul li .item {
        padding-left: .32rem;
        height: .84rem;
        line-height: .84rem; }
        .recruit-detail .main .recruit-position ul li .item .title {
          font-size: .3rem; }
        .recruit-detail .main .recruit-position ul li .item .iconfont {
          font-size: .4rem;
          color: #0252d9;
          margin-right: .16rem; } }
