$blue:#0252d9;
$gray:#fafafa;
.recruit-body {
    width: 100%;
    padding: 20px 0;
    // background-position: center center;
    // background-repeat: no-repeat;
    background-color: $blue; // margin-top: 50px;
    text-align: center;
    img {
        height: 100%;
    }
}
.fade {
    animation: fade 1s;
}

@keyframes fade {
    100% {
        height: 0;
        opacity: 0;
    }
}

.bounceIn {
    animation: bounceIn .8s;
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.recruit-detail {
    width: 100%;
    .main {
        margin: 0 auto;
        .recruit-title {
            margin-top: 18px;
            margin-bottom: 50px;
            font-size: 36px;
            font-weight: 200;
            text-align: center;
        }
        .recruit-type {
            .row {
                .box {
                    .text-wrap {
                        width: 130px;
                        height: 130px;
                        text-align: center;
                        color: $blue;
                        font-family: 'Regular';
                        border-radius: 50%;
                        background-color: #fafafa;
                        font-size: 26px;
                        line-height: 130px;
                        &:hover {
                            background-color: $blue;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .recruit-position {
            width: 1156px;
            margin: 24px auto 50px;
            background-color: $gray;
            border-radius: 14px;
            behavior: url(ie-css3.htc);
            position: relative;
            z-index: 9;
            ul {
                li {
                    position: relative;
                    @for $i from 1 through 5 {
                        &.item-#{$i}:after,
                        &.item-#{$i} .after {
                            content: "";
                            after: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            border-bottom: 1px dashed #d7d7d7;
                            width: 100%;
                        }
                    }
                    &.active.item {
                        .item {
                            .title {
                                font-size: 15px;
                            }
                            .desc {
                                display: none;
                            }
                            .iconfont.up {
                                display: block;
                            }
                            .iconfont.down {
                                display: none;
                            }
                        }
                        .item-wrap {
                            display: block;
                        }
                    }
                    .item {
                        height: 70px;
                        line-height: 70px;
                        padding-left: 28px;
                        &:hover {
                            cursor: pointer;
                            .desc {
                                display: block;
                            }
                        }
                        .title {
                            float: left;
                            font-size: 13px;
                            transition: all .1s;
                        }
                        .desc {
                            float: right;
                            font-size: 13px;
                            color: #0252d8;
                            display: none;
                        }
                        .iconfont {
                            margin-right: 30px;
                            margin-left: 22px;
                            float: right;
                            color: #727272;
                            display: none;
                            font-size: 30px;
                            &.down {
                                display: block;
                            }
                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                    .item-wrap {
                        overflow: hidden;
                        display: none;
                        padding: 0 28px;
                        dl.contact {
                            // margin: 0;
                            dd {
                                line-height: 36px;
                                font-size: 18px;
                                font-weight: 200;
                            }
                        }
                        dl {
                            overflow: hidden;
                            margin-bottom: 30px;
                            dt {
                                font-size: 15px;
                                line-height: 28px;
                            }
                            dd {
                                font-size: 14px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .recruit-detail .main .recruit-position {
        width: 100%;
    }
    .recruit-detail .main .recruit-position ul li .item {
        height: 60px;
        line-height: 60px;
    }
    .recruit-detail .main .recruit-type .row .box .text-wrap {
        height: 120px;
        width: 120px;
        line-height: 120px;
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    .recruit-detail .main .recruit-position {
        width: 100%;
    }
    .recruit-detail .main .recruit-position ul li .item {
        height: 60px;
        line-height: 60px;
    }
    .recruit-detail .main .recruit-type .row .box .text-wrap {
        height: 110px;
        width: 110px;
        line-height: 110px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: .96rem;
    }
    .recruit-detail .main .recruit-position ul li.active.item .item .title{
        font-size: .3rem;
    }
    .phone-screen-5 {
        margin: .52rem 0 .44rem;
        &.active {
            display: none !important;
            .text-wrap {
                display: none;
            }
            .category {
                margin: 0 .4rem 0;
                ul {
                    li {
                        display: none;
                        &.active {
                            display: block;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            text-align: center;
                            margin: 0 auto 0;
                        }
                    }
                }
            }
        }
        .text-wrap {
            // margin-top: 52px;
            overflow: hidden;
            text-align: center;
            .title {
                font-size: .44rem;
                color: $blue;
            }
        }
        .category {
            margin: .52rem auto 0;
            width: 6.68rem;
            ul {
                text-align: center;
                li {
                    height: 2rem;
                    line-height: 2rem;
                    font-size: .36rem;
                    color: $blue;
                    border-radius: 0.08rem;
                    margin-bottom: .44rem;
                    overflow: hidden;
                    text-align: center;
                    box-shadow: 0 0 .08rem #979797;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .recruit-detail {
        margin: 2.96rem auto 0;
        width: 6.68rem;
        display: none;
        .main {
            padding: 0;
            .category {
                width: 100%;
                padding: .52rem 0 .44rem;
                text-align: center;
                img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    box-shadow: 0 0 .08rem #979797;
                }
            }
            .recruit-position {
                box-shadow: 0 0 .08rem #4c4c4c;
                border-radius: .1rem;
                &.active{
                    // margin: 2.96rem auto;
                }
                ul {
                    li {
                        &.active {}
                        @for $i from 1 through 5 {
                            &.item-#{$i}:after,
                            &.item-#{$i} .after {
                                content: "";
                                after: "";
                                width: 6.5rem;
                                position: absolute;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                margin: 0 auto;
                                border-bottom: 1px solid #d7d7d7;
                            }
                        }
                        .item-wrap {
                            padding: 0 .24rem;
                        }
                        .item {
                            padding-left: .32rem;
                            height: .84rem;
                            line-height: .84rem;
                            .title {
                                font-size: .3rem;
                            }
                            .iconfont {
                                font-size: .4rem;
                                color: $blue;
                                margin-right: .16rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.animation-box{
    height: 2rem;
    width: 6.68rem;
    line-height: 2rem;
    font-size: .36rem;
    color: $blue;
    border-radius: 0.08rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 .08rem #979797;
    position: fixed;
    z-index: 11;
    font-family: 'Regular';
    background-color: #fff;
}
