$blue:#0252d9;
$gray:#fafafa;
ul.islider-outer > li{
    .next-page {
        position: absolute;
        width: .8rem;
        height: .8rem;
        color: $blue;
        bottom: .4rem;
        left: 50%;
        margin-left: -.4rem;
        .iconfont {
            font-size: .8rem;
        }
    }
}
#iSlider-wrapper .section {
    width: 100%;
    height: 100%;
    .container {
        overflow: hidden;
        height: 100%;
        padding-top: .96rem;
    }
    .next-page {
        position: absolute;
        width: .8rem;
        height: .8rem;
        color: $blue;
        bottom: .4rem;
        left: 50%;
        margin-left: -.4rem;
        .iconfont {
            font-size: .8rem;
        }
    }
    .text-wrap {
        text-align: center;
        margin-top: .52rem;
        overflow: hidden;
        .title {
            font-size: .44rem;
            color: $blue;
            margin-bottom: .3rem;
            font-family: 'Regular';
        }
        .desc {
            color: #000;
            font-size: .28rem
        }
    }
    .custom-pagination {
        text-align: center;
        .swiper-pagination-bullet {
            margin: 0 .08rem;
        }
    }
    .footer-text {
        font-size: .36rem;
        text-align: center;
        a {
            color: $blue;
        }
    }
}

#iSlider-wrapper .phone-screen-1 {
    background-color: $blue;
    .container {
        color: #fff;
        text-align: center;
        overflow: hidden;
        padding-top: 4.66rem;
        margin-top: 0;
        height: 100%;
        .title {
            overflow: hidden;
            font-size: 1rem;
        }
        .desc {
            font-size: .5rem;
            margin-top: .4rem;
        }
    }
    .next-page {
        color: #fff;
    }
}

#iSlider-wrapper .phone-screen-2 {
    .container {
        .headlines {
            padding: .48rem 0;
            text-align: center;
            box-shadow: 0 0 0.08rem #eee;
            margin: .56rem .28rem .86rem;
            .title {
                font-size: .44rem;
                color: $blue;
                line-height: .44rem;
                margin-bottom: .74rem;
            }
            .desc {
                color: #000;
                font-size: .26rem;
                line-height: .36rem;
            }
        }
        .slider-headlines {
            margin: 0 auto;
            width: 6.4rem;
            .swiper-slide {
                position: relative;
                height: 4.28rem;
                img {
                    width: 100%;
                    height: 100%;
                }
                .text-wrap {
                    position: absolute;
                    top: .92rem;
                    left: .96rem;
                    color: #fff;
                    .big-title {
                        font-weight: 400;
                        font-size: .7rem;
                        margin-bottom: .26rem;
                    }
                    .desc {
                        font-size: .36rem;
                        font-weight: 100;
                        color: #fff;
                    }
                }
            }
        }
    }
    .custom-pagination {
        margin-top: .2rem;
    }
}

#iSlider-wrapper .phone-screen-3 {
    .container {
        .phone-slider {
            width: 4.6rem;
            .swiper-slide {
                .img-wrap {
                    font-size: 0;
                    img {
                        vertical-align: middle;
                        width: 100%;
                    }
                }
            }
        }
        .custom-pagination.swiper-pagination-bullets {
            margin-top: -0.2rem;
            margin-bottom: .2rem;
        }
    }
}

#iSlider-wrapper .phone-screen-4 {
    .container {
        .slider-detail {
            margin: .52rem auto 0;
            width: 6.92rem;
            .swiper-slide {
                text-align: center;
                font-size: .36rem;
                color: #000;
                padding: .2rem;
                .slider-wrap {
                    width: 6.52rem;
                    border-radius: .08rem;
                    overflow: hidden;
                    .title {
                        margin: .52rem 0;
                    }
                    .desc {
                        margin-top: .96rem;
                        margin-bottom: .94rem;
                        padding: 0 .36rem;
                    }
                    .img-wrap {
                        img {
                            width: 6rem;
                            height: 4rem;
                            box-shadow: 0 .04rem .08rem #000;
                        }
                    }
                    box-shadow: 0 0 .1rem #979797;
                }
            }
        }
        .custom-pagination {
            margin-bottom: .4rem;
        }
    }
}

#iSlider-wrapper .phone-screen-5 {
    .container {
        .text-wrap {
            margin-bottom: .4rem;
            font-size: 0;
            .title {
                margin-bottom: 0;
            }
        }
        .cooperation {
            ul {
                
                display:-webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                li {
                    display:-webkit-box;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-align-items: center;
                    align-items: center;
                    width: 50%;
                    height: 3rem;
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}

#iSlider-wrapper .phone-screen-6 {
    .container {
        .text-wrap {
            .title {
                margin-bottom: 0;
            }
        }
        .contact {
            dl {
                padding: 0 .8rem;
                margin-top: .7rem;
                dd {
                    padding: .08rem 0;
                    display: flex;
                    align-items: center;
                    .iconfont {
                        width: .8rem;
                        font-size: .5rem;
                        flex: 1;
                    }
                    .text {
                        flex: 6;
                        font-size: .26rem;
                        line-height: .4rem;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .call-map {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 8rem;
    }
}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
    /* 兼容iphone5 */
    #iSlider-wrapper .section {
        .text-wrap {
            text-align: center;
            margin-top: .52rem*0.7;
            overflow: hidden;
            .title {
                font-size: .44rem*0.9;
                color: $blue;
                margin-bottom: .3rem*0.7;
                font-family: 'Regular'
            }
            .desc {
                color: #000;
                font-size: .28rem*0.9;
            }
        }
    }
    #iSlider-wrapper .phone-screen-2 {
        .container {
            .headlines {
                padding: .48rem*0.7 0;
                margin: .56rem*0.7 .28rem .86rem*0.7;
                .title {
                    font-size: .44rem*0.9;
                    line-height: .44rem*0.9;
                    margin-bottom: .74rem*0.7;
                }
                .desc {
                    font-size: .26rem*0.9;
                    line-height: .36rem*0.9;
                }
            }
            .slider-headlines {
                width: 6.4rem*0.84;
                .swiper-slide {
                    position: relative;
                    height: 4.28rem*0.84;
                    .text-wrap {
                        position: absolute;
                        top: .92rem*0.84;
                        left: .96rem*0.84;
                        color: #fff;
                        .big-title {
                            font-weight: 400;
                            font-size: .7rem*0.84;
                            margin-bottom: .26rem*0.84;
                        }
                        .desc {
                            font-size: .36rem*0.84;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        margin-top: .2rem*0.7;
    }
    #iSlider-wrapper .phone-screen-3 {
        .container {
            .phone-slider {
                width: 4.6rem*0.72;
                .swiper-slide {
                    .img-wrap {
                        font-size: 0;
                        img {
                            vertical-align: middle;
                            width: 100%;
                        }
                    }
                }
            }
            .custom-pagination.swiper-pagination-bullets {
                margin-top: -0.2rem*0.6;
                margin-bottom: .2rem*0.6;
            }
        }
    }
    
    #iSlider-wrapper .phone-screen-4 {
        .container {
            .slider-detail {
                margin: .52rem*0.44 auto 0;
                width: 6.92rem*0.7 ;
                .swiper-slide {
                    text-align: center;
                    font-size: .36rem*0.8;
                    color: #000;
                    padding: .2rem*0.7 ;
                    .slider-wrap {
                        width: 6.52rem*0.7;
                        overflow: hidden;
                        .title {
                            margin: .52rem*0.44 0;
                        }
                        .desc {
                            margin-top: .96rem*0.44;
                            margin-bottom: .94rem*0.44;
                            padding: 0 .36rem*0.7;
                        }
                        .img-wrap {
                            img {
                                width: 6rem*0.7;
                                height: 4rem*0.7;
                            }
                        }
                    }
                }
            }
            .custom-pagination {
                margin-bottom: .4rem*0.3;
            }
        }
    }
    #iSlider-wrapper .phone-screen-5 .container {
        .text-wrap{
            margin-bottom:.4rem*0.7;
        }
        .cooperation ul li{
            height: 2.5rem;
        }
    }
    #iSlider-wrapper .phone-screen-6 {
        .container {
            .contact {
                dl {
                    padding: 0 .8rem*0.76;
                    margin-top: .7rem*0.5;
                    dd {
                        padding: .08rem*0.7 0;
                        display: flex;
                        align-items: center;
                        .iconfont {
                            font-size: .5rem*0.76;
                            flex: 1;
                        }
                        .text {
                            flex: 7;
                            font-size: .26rem*0.76;
                            line-height: .4rem*0.76;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .call-map {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 8rem*0.56;
        }
    }
}

@media(min-device-width:375px)and(max-device-width:667px)and(-webkit-min-device-pixel-ratio:2) {
    #iSlider-wrapper .section {
        .text-wrap {
            text-align: center;
            margin-top: .52rem*0.8;
            overflow: hidden;
            .title {
                font-size: .44rem*0.9;
                color: $blue;
                margin-bottom: .3rem*0.8;
                font-family: 'Regular'
            }
            .desc {
                color: #000;
                font-size: .28rem*0.9;
            }
        }
    }
    #iSlider-wrapper .phone-screen-2 {
        .container {
            .headlines {
                padding: .48rem*0.74 0;
                margin: .56rem*0.78 .28rem .86rem*0.78;
                .title {
                    font-size: .44rem*0.9;
                    line-height: .44rem*0.9;
                    margin-bottom: .74rem*0.74;
                }
                .desc {
                    font-size: .26rem*0.9;
                    line-height: .36rem*0.9;
                }
            }
            .slider-headlines {
                width: 6.4rem*0.9;
                .swiper-slide {
                    position: relative;
                    height: 4.28rem*0.9;
                    .text-wrap {
                        position: absolute;
                        top: .92rem*0.9;
                        left: .96rem*0.9;
                        color: #fff;
                        .big-title {
                            font-weight: 400;
                            font-size: .7rem*0.9;
                            margin-bottom: .26rem*0.9;
                        }
                        .desc {
                            font-size: .36rem*0.9;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        .custom-pagination {
            margin-top: .2rem*0.78;
        }
    }
    #iSlider-wrapper .phone-screen-3 {
        .container {
            .phone-slider {
                width: 4.6rem*0.82;
                .swiper-slide {
                    .img-wrap {
                        font-size: 0;
                        img {
                            vertical-align: middle;
                            width: 100%;
                        }
                    }
                }
            }
            .custom-pagination.swiper-pagination-bullets {
                margin-top: -0.2rem*0.8;
                margin-bottom: .2rem*0.8;
            }
        }
    }
    
    #iSlider-wrapper .phone-screen-4 {
        .container {
            .slider-detail {
                margin: .52rem*0.58 auto 0;
                width: 6.92rem*0.78 ;
                .swiper-slide {
                    text-align: center;
                    font-size: .36rem*0.84;
                    color: #000;
                    padding: .2rem*0.7 ;
                    .slider-wrap {
                        width: 6.52rem*0.78;
                        overflow: hidden;
                        .title {
                            margin: .52rem*0.58 0;
                        }
                        .desc {
                            margin-top: .96rem*0.58;
                            margin-bottom: .94rem*0.58;
                            padding: 0 .36rem*0.7;
                        }
                        .img-wrap {
                            img {
                                width: 6rem*0.78;
                                height: 4rem*0.78;
                            }
                        }
                    }
                }
            }
            .custom-pagination {
                margin-bottom: .4rem*0.3;
            }
        }
    }
    #iSlider-wrapper .phone-screen-5 .container {
        .text-wrap{
            margin-bottom:.4rem*0.8;
        }
        .cooperation ul li{
            height: 2.8rem;
        }
    }
    #iSlider-wrapper .phone-screen-6 {
        .container {
            .contact {
                dl {
                    padding: 0 .8rem*0.76;
                    margin-top: .7rem*0.5;
                    dd {
                        padding: .08rem*0.7 0;
                        display: flex;
                        align-items: center;
                        .iconfont {
                            font-size: .5rem*0.76;
                            flex: 1;
                        }
                        .text {
                            flex: 7;
                            font-size: .26rem*0.76;
                            line-height: .4rem*0.76;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .call-map {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 8rem*0.56;
        }
    }
}

@media(min-device-width:414px)and(max-device-width:736px)and(-webkit-min-device-pixel-ratio:3) {
    /*iphone6plus*/
    #iSlider-wrapper .section {
        .text-wrap {
            text-align: center;
            margin-top: .52rem*0.8;
            overflow: hidden;
            .title {
                font-size: .44rem*0.9;
                color: $blue;
                margin-bottom: .3rem*0.8;
                font-family: 'Regular'
            }
            .desc {
                color: #000;
                font-size: .28rem*0.9;
            }
        }
    }
    #iSlider-wrapper .phone-screen-2 {
        .container {
            .headlines {
                padding: .48rem*0.84 0;
                margin: .56rem*0.78 .28rem .86rem*0.78;
                .title {
                    font-size: .44rem*0.9;
                    line-height: .44rem*0.9;
                    margin-bottom: .74rem*0.84;
                }
                .desc {
                    font-size: .26rem*0.9;
                    line-height: .36rem*0.9;
                }
            }
            .slider-headlines {
                width: 6.4rem*0.9;
                .swiper-slide {
                    position: relative;
                    height: 4.28rem*0.9;
                    .text-wrap {
                        position: absolute;
                        top: .92rem*0.9;
                        left: .96rem*0.9;
                        color: #fff;
                        .big-title {
                            font-weight: 400;
                            font-size: .7rem*0.9;
                            margin-bottom: .26rem*0.9;
                        }
                        .desc {
                            font-size: .36rem*0.9;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
    #iSlider-wrapper .phone-screen-3 {
        .container {
            .phone-slider {
                width: 4.6rem*0.8;
                .swiper-slide {
                    .img-wrap {
                        font-size: 0;
                        img {
                            vertical-align: middle;
                            width: 100%;
                        }
                    }
                }
            }
            .custom-pagination.swiper-pagination-bullets {
                margin-top: -0.2rem*0.7;
                margin-bottom: .2rem*0.7;
            }
        }
    }
    
    #iSlider-wrapper .phone-screen-4 {
        .container {
            .slider-detail {
                margin: .52rem*0.52 auto 0;
                width: 6.92rem*0.78 ;
                .swiper-slide {
                    text-align: center;
                    font-size: .36rem*0.84;
                    color: #000;
                    padding: .2rem*0.7 ;
                    .slider-wrap {
                        width: 6.52rem*0.78;
                        overflow: hidden;
                        .title {
                            margin: .52rem*0.52 0;
                        }
                        .desc {
                            margin-top: .96rem*0.52;
                            margin-bottom: .94rem*0.52;
                            padding: 0 .36rem*0.7;
                        }
                        .img-wrap {
                            img {
                                width: 6rem*0.78;
                                height: 4rem*0.78;
                            }
                        }
                    }
                }
            }
            .custom-pagination {
                margin-bottom: .4rem*0.3;
            }
        }
    }
    #iSlider-wrapper .phone-screen-5 .container {
        .text-wrap{
            margin-bottom:.4rem*0.8;
        }
        .cooperation ul li{
            height: 2.8rem;
        }
    }
    #iSlider-wrapper .phone-screen-6 {
        .container {
            .contact {
                dl {
                    padding: 0 .8rem*0.76;
                    margin-top: .7rem*0.5;
                    dd {
                        padding: .08rem*0.7 0;
                        display: flex;
                        align-items: center;
                        .iconfont {
                            font-size: .5rem*0.76;
                            flex: 1;
                        }
                        .text {
                            flex: 7;
                            font-size: .26rem*0.76;
                            line-height: .4rem*0.76;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .call-map {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 8rem*0.56;
        }
    }
}